@font-face
{
    font-family: "MS-Song";
    src: url("font/MS-Song/MS-Song.woff") format("woff");
    font-weight: normal;
    font-style:  normal;
}

@font-face
{
    font-family: "monofur";
    src: url("font/monofur/monof55.woff") format("woff");
    font-weight: normal;
    font-style:  normal;
}


*
{
    font-family: "monofur", "MS-Song";
}


header .overview-link
{
    color: w;
    background-color: tomato;

    display: inline-block;
    width: 31%;
    border-radius: 0.2em;

    text-align: center;
    font-weight: bold;
}

header .contents-link
{
    color: w;
    background-color: tomato;


    display: inline-block;
    width: 31%;
    border-radius: 0.2em;

    text-align: center;
    font-weight: bold;
}

header .show-all-link
{
    color: b;
    background-color: tomato;

    display: inline-block;
    width: 31%;
    border-radius: 0.2em;

    text-align: center;
    font-weight: bold;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: white;
    width: 100%;
}