---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>1st-instar.org</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    <!--
      body {
        color: #f8f8f0;
        background-color: #1b1d1e;
      }
      .bold {
        /* bold */
        font-weight: bold;
      }
      .builtin {
        /* font-lock-builtin-face */
        color: #a6e22e;
      }
      .comment {
        /* font-lock-comment-face */
        color: #FF8888;
      }
      .constant {
        /* font-lock-constant-face */
        color: #ae81ff;
      }
      .default {
        /* default */
        color: #f8f8f0;
        background-color: #1b1d1e;
      }
      .function-name {
        /* font-lock-function-name-face */
        color: #a6e22e;
      }
      .keyword {
        /* font-lock-keyword-face */
        color: #f92672;
        font-weight: bold;
      }
      .org-block-begin-line {
        /* org-block-begin-line */
        color: #FF8888;
      }
      .org-block-end-line {
        /* org-block-end-line */
        color: #FF8888;
      }
      .org-document-info {
        /* org-document-info */
        color: #afeeee;
      }
      .org-document-info-keyword {
        /* org-document-info-keyword */
        color: #b3b3b3;
      }
      .org-document-title {
        /* org-document-title */
        color: #afeeee;
        font-weight: bold;
      }
      .org-level-1 {
        /* org-level-1 */
        color: #a6e22e;
      }
      .org-level-2 {
        /* org-level-2 */
        color: #fd971f;
      }
      .org-link {
        /* org-link */
        color: #00ffff;
        text-decoration: underline;
      }
      .org-todo {
        /* org-todo */
        color: #ffc0cb;
        font-weight: bold;
      }
      .preprocessor {
        /* font-lock-preprocessor-face */
        color: #a6e22e;
      }
      .return-stack-bar-ket {
        /* return-stack-bar-ket-face */
        color: #dc322f;
        font-weight: bold;
      }
      .return-stack-end {
        /* return-stack-end-face */
        color: #00ffff;
        font-weight: bold;
      }
      .return-stack-jo {
        /* return-stack-jo-face */
        color: #ef5939;
        font-weight: bold;
      }
      .return-stack-line {
        /* return-stack-line-face */
        color: #ae81ff;
        font-weight: bold;
      }
      .return-stack-the-jo {
        /* return-stack-the-jo-face */
        color: #fd971f;
        font-weight: bold;
      }
      .string {
        /* font-lock-string-face */
        color: #e6db74;
      }
      .type {
        /* font-lock-type-face */
        color: #66d9ef;
        font-weight: bold;
      }
      .variable-name {
        /* font-lock-variable-name-face */
        color: #fd971f;
      }

      a {
        color: inherit;
        background-color: inherit;
        font: inherit;
        text-decoration: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
    -->
    </style>
{% include in-org-head.html %}
  </head>
  <body>
    {% include before-pre.html %}
<pre>
<span class="org-document-info-keyword">#+TITLE:</span>  <span class="org-document-title">&#40801;&#19968; / 1st-instar
</span><span class="org-document-info-keyword">#+AUTHOR:</span> <span class="org-document-info">&#35613;&#23431;&#24646; / XIE Yuheng
</span><span class="org-document-info-keyword">#+EMAIL:</span>  <span class="org-document-info">xyheme@gmail.com
</span>
<span class="org-level-1">* ===================================</span>
<span class="org-level-1">* </span><span class="org-todo">note</span>
  * indirect-threaded-code interpreter
    1. macro about argument_stack &amp; return_stack
    2. macro about jo &amp; jojo
    3. macro about next
    4. the way to do memory allocation
    5. begin_to_interpret_threaded_code
    6. little_test
<span class="org-level-1">* ===================================</span>
<span class="org-level-1">* prolog</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** platform configuration</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">define</span> platform windows
   <span class="preprocessor">define</span> machine  32bit
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** misc</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="comment">;; in fasm, "dup" is a reserved word
</span>   <span class="keyword">dup</span> <span class="preprocessor">equ</span> duplicate

   <span class="comment">;; in fasm, "end" is a reserved word
</span>   <span class="keyword">finish</span> <span class="preprocessor">equ</span> <span class="keyword">end</span>
   <span class="keyword">end</span> <span class="preprocessor">equ</span> exit
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** jo_size [32bit]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =32bit, machine {

   jo_size = <span class="constant">4</span> <span class="comment">;; (byte)
</span>   <span class="type">xx</span> <span class="preprocessor">equ</span> <span class="type">dd</span>

   <span class="variable-name">rax</span> <span class="preprocessor">equ</span> <span class="variable-name">eax</span>
   <span class="variable-name">rbx</span> <span class="preprocessor">equ</span> <span class="variable-name">ebx</span>
   <span class="variable-name">rcx</span> <span class="preprocessor">equ</span> <span class="variable-name">ecx</span>
   <span class="variable-name">rdx</span> <span class="preprocessor">equ</span> <span class="variable-name">edx</span>
   <span class="variable-name">rsp</span> <span class="preprocessor">equ</span> <span class="variable-name">esp</span>
   <span class="variable-name">rbp</span> <span class="preprocessor">equ</span> <span class="variable-name">ebp</span>
   <span class="variable-name">rsi</span> <span class="preprocessor">equ</span> <span class="variable-name">esi</span>
   <span class="variable-name">rdi</span> <span class="preprocessor">equ</span> <span class="variable-name">edi</span>

   <span class="builtin">syscall</span> <span class="preprocessor">equ</span> <span class="builtin">int</span> <span class="constant">80h</span>

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> calling convention</span>
   * <span class="org-link"><a href="https://msdn.microsoft.com/en-us/library/k2b2ssfy.aspx">Calling Conventions</a></span>
   * <span class="org-link"><a href="https://msdn.microsoft.com/en-us/library/a5s9345t.aspx">Calling Example: Function Prototype and Call</a></span>
     <span class="org-link"><a href="https://msdn.microsoft.com/en-us/library/25687bhx.aspx">Results of Calling Example</a></span>
<span class="org-level-2">** format [windows32]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =windows =32bit, platform machine {

   <span class="keyword">format</span> PE <span class="keyword">console</span> <span class="keyword">as</span> <span class="string">"32.exe"</span>

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** entry  [windows32]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =windows =32bit, platform machine {

   <span class="keyword">entry</span> begin_to_interpret_threaded_code
   <span class="keyword">section</span> <span class="default">'.text'</span> code <span class="keyword">writeable</span> <span class="keyword">readable</span> <span class="keyword">executable</span>

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** memory allocation in un_initialized_memory</span>
   * implemented as a memory map
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   current_free_address$un_initialized_memory = address$un_initialized_memory

   <span class="keyword">labeling</span>  <span class="preprocessor">equ</span> = current_free_address$un_initialized_memory
   <span class="type">preserve</span>  <span class="preprocessor">equ</span> current_free_address$un_initialized_memory = current_free_address$un_initialized_memory +
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* </span><span class="org-todo">note</span><span class="org-level-1"> stack</span>
  * when doing "push"
    a stack-pointer moves to lower address
  * note that another style is that
    when doing "push"
    a stack-pointer moves to higher address
  * the stack-pointer
    always stores the address of current-free-address of the stack
  * note that another style is that
    under the stack-pointer
    there always stores the value of the-top-of-the-stack
<span class="org-level-1">* argument_stack</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** memory allocation</span>
   * for we do not build border-check
     into the interface of pop and push
     we allocation some memory below the stacks
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>      <span class="type">preserve</span> <span class="constant">64</span> * jo_size
   address$argument_stack <span class="keyword">labeling</span>
      <span class="type">preserve</span> <span class="constant">1024</span> * <span class="constant">1024</span> * jo_size
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** pointer    [64bit]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =64bit, machine {

   <span class="comment">;; if you want to extend cicada in assembly
</span>   <span class="comment">;; the following registers must NOT be used
</span>
   <span class="preprocessor">define</span> pointer$argument_stack <span class="variable-name">r15</span>

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** push &amp; pop [64bit]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =64bit, machine {

   <span class="preprocessor">macro</span> <span class="function-name">push_argument_stack</span> register \{
      <span class="builtin">mov</span> [pointer$argument_stack], register
      <span class="builtin">add</span> pointer$argument_stack, jo_size
   \}

   <span class="preprocessor">macro</span> <span class="function-name">pop_argument_stack</span> register \{
      <span class="builtin">sub</span> pointer$argument_stack, jo_size
      <span class="builtin">mov</span> register, [pointer$argument_stack]
   \}

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** pointer    [32bit]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =32bit, machine {

   <span class="function-name">pointer$argument_stack</span>:
      <span class="type">xx</span> address$argument_stack

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** push &amp; pop [32bit]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =32bit, machine {

   <span class="preprocessor">macro</span> <span class="function-name">push_argument_stack</span> register \{
      <span class="keyword">if</span> register <span class="builtin">in</span> &lt;eax&gt;
      <span class="builtin">push</span> <span class="variable-name">ebx</span>
      <span class="builtin">mov</span> <span class="variable-name">ebx</span>, [pointer$argument_stack]
      <span class="builtin">mov</span> [<span class="variable-name">ebx</span>], register
      <span class="builtin">add</span> <span class="variable-name">ebx</span>, jo_size
      <span class="builtin">mov</span> [pointer$argument_stack], <span class="variable-name">ebx</span>
      <span class="builtin">pop</span> <span class="variable-name">ebx</span>
      <span class="keyword">else</span>
      <span class="builtin">push</span> <span class="variable-name">eax</span>
      <span class="builtin">mov</span> <span class="variable-name">eax</span>, [pointer$argument_stack]
      <span class="builtin">mov</span> [<span class="variable-name">eax</span>], register
      <span class="builtin">add</span> <span class="variable-name">eax</span>, jo_size
      <span class="builtin">mov</span> [pointer$argument_stack], <span class="variable-name">eax</span>
      <span class="builtin">pop</span> <span class="variable-name">eax</span>
      <span class="keyword">finish</span> <span class="keyword">if</span>
   \}

   <span class="preprocessor">macro</span> <span class="function-name">pop_argument_stack</span> register \{
      <span class="keyword">if</span> register <span class="builtin">in</span> &lt;eax&gt;
      <span class="builtin">push</span> <span class="variable-name">ebx</span>
      <span class="builtin">mov</span> <span class="variable-name">ebx</span>, [pointer$argument_stack]
      <span class="builtin">sub</span> <span class="variable-name">ebx</span>, jo_size
      <span class="builtin">mov</span> register, [<span class="variable-name">ebx</span>]
      <span class="builtin">mov</span> [pointer$argument_stack], <span class="variable-name">ebx</span>
      <span class="builtin">pop</span> <span class="variable-name">ebx</span>
      <span class="keyword">else</span>
      <span class="builtin">push</span> <span class="variable-name">eax</span>
      <span class="builtin">mov</span> <span class="variable-name">eax</span>, [pointer$argument_stack]
      <span class="builtin">sub</span> <span class="variable-name">eax</span>, jo_size
      <span class="builtin">mov</span> register, [<span class="variable-name">eax</span>]
      <span class="builtin">mov</span> [pointer$argument_stack], <span class="variable-name">eax</span>
      <span class="builtin">pop</span> <span class="variable-name">eax</span>
      <span class="keyword">finish</span> <span class="keyword">if</span>
   \}

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* return_stack</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** memory allocation</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>      <span class="type">preserve</span> <span class="constant">64</span> * jo_size
   address$return_stack <span class="keyword">labeling</span>
      <span class="type">preserve</span> <span class="constant">1024</span> * <span class="constant">1024</span> * jo_size
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** pointer    [64bit]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =64bit, machine {

   <span class="comment">;; if you want to extend cicada in assembly
</span>   <span class="comment">;; the following registers must NOT be used
</span>
   <span class="preprocessor">define</span> pointer$return_stack <span class="variable-name">r14</span>

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** push &amp; pop [64bit]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =64bit, machine {

   <span class="preprocessor">macro</span> <span class="function-name">push_return_stack</span> register \{
      <span class="builtin">mov</span> [pointer$return_stack], register
      <span class="builtin">add</span> pointer$return_stack, jo_size
   \}

   <span class="preprocessor">macro</span> <span class="function-name">pop_return_stack</span> register \{
      <span class="builtin">sub</span> pointer$return_stack, jo_size
      <span class="builtin">mov</span> register, [pointer$return_stack]
   \}

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** pointer    [32bit]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =32bit, machine {

   <span class="function-name">pointer$return_stack</span>:
      <span class="type">xx</span> address$return_stack

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** push &amp; pop [32bit]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =32bit, machine {

   <span class="preprocessor">macro</span> <span class="function-name">push_return_stack</span> register \{
      <span class="keyword">if</span> register <span class="builtin">in</span> &lt;eax&gt;
      <span class="builtin">push</span> <span class="variable-name">ebx</span>
      <span class="builtin">mov</span> <span class="variable-name">ebx</span>, [pointer$return_stack]
      <span class="builtin">mov</span> [<span class="variable-name">ebx</span>], register
      <span class="builtin">add</span> <span class="variable-name">ebx</span>, jo_size
      <span class="builtin">mov</span> [pointer$return_stack], <span class="variable-name">ebx</span>
      <span class="builtin">pop</span> <span class="variable-name">ebx</span>
      <span class="keyword">else</span>
      <span class="builtin">push</span> <span class="variable-name">eax</span>
      <span class="builtin">mov</span> <span class="variable-name">eax</span>, [pointer$return_stack]
      <span class="builtin">mov</span> [<span class="variable-name">eax</span>], register
      <span class="builtin">add</span> <span class="variable-name">eax</span>, jo_size
      <span class="builtin">mov</span> [pointer$return_stack], <span class="variable-name">eax</span>
      <span class="builtin">pop</span> <span class="variable-name">eax</span>
      <span class="keyword">finish</span> <span class="keyword">if</span>
   \}

   <span class="preprocessor">macro</span> <span class="function-name">pop_return_stack</span> register \{
      <span class="keyword">if</span> register <span class="builtin">in</span> &lt;eax&gt;
      <span class="builtin">mov</span> <span class="variable-name">ebx</span>, [pointer$return_stack]
      <span class="builtin">sub</span> <span class="variable-name">ebx</span>, jo_size
      <span class="builtin">mov</span> register, [<span class="variable-name">ebx</span>]
      <span class="builtin">mov</span> [pointer$return_stack], <span class="variable-name">ebx</span>
      <span class="keyword">else</span>
      <span class="builtin">mov</span> <span class="variable-name">eax</span>, [pointer$return_stack]
      <span class="builtin">sub</span> <span class="variable-name">eax</span>, jo_size
      <span class="builtin">mov</span> register, [<span class="variable-name">eax</span>]
      <span class="builtin">mov</span> [pointer$return_stack], <span class="variable-name">eax</span>
      <span class="keyword">finish</span> <span class="keyword">if</span>
   \}

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* next</span>
<span class="org-block-begin-line">  #+begin_src fasm :tangle cicada-nymph.fasm
</span>  <span class="preprocessor">match</span> =64bit, machine {

  <span class="preprocessor">macro</span> <span class="function-name">next</span> \{
     pop_return_stack <span class="variable-name">rbx</span>
       <span class="builtin">mov</span> <span class="variable-name">rax</span>, [<span class="variable-name">rbx</span>]
     <span class="builtin">add</span> <span class="variable-name">rbx</span>, jo_size
     push_return_stack <span class="variable-name">rbx</span>
       <span class="builtin">jmp</span> <span class="type">qword</span> [<span class="variable-name">rax</span>]
  \}

  }


  <span class="preprocessor">match</span> =32bit, machine {

  <span class="preprocessor">macro</span> <span class="function-name">next</span> \{
     pop_return_stack <span class="variable-name">rbx</span>
       <span class="builtin">mov</span> <span class="variable-name">rax</span>, [<span class="variable-name">rbx</span>]
     <span class="builtin">add</span> <span class="variable-name">rbx</span>, jo_size
     push_return_stack <span class="variable-name">rbx</span>
       <span class="builtin">jmp</span> <span class="type">dword</span> [<span class="variable-name">rax</span>]
  \}

  }
<span class="org-block-end-line">  #+end_src
</span><span class="org-level-1">* </span><span class="org-todo">note</span><span class="org-level-1"> play with jo &amp; jojo</span>
  1. at the beginning
     * argument-stack
       &lt;&lt; 2 &gt;&gt;
     * return-stack
<span class="org-block-begin-line">       #+begin_src return-stack
</span>       <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(square)</span> <span class="return-stack-bar-ket">]</span>
           <span class="return-stack-jo">(square)</span>
           <span class="return-stack-end">(end)</span>
<span class="org-block-end-line">       #+end_src
</span>  2. next
     * argument-stack
       &lt;&lt; 2 &gt;&gt;
     * return-stack
<span class="org-block-begin-line">       #+begin_src return-stack
</span>           <span class="return-stack-jo">(square)</span>
       <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(square)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(dup)</span> <span class="return-stack-bar-ket">]</span>
           <span class="return-stack-end">(end)</span>          <span class="return-stack-jo">(mul)</span>
                          <span class="return-stack-end">(end)</span>
<span class="org-block-end-line">       #+end_src
</span>  3. next
     * argument-stack
       &lt;&lt; 2, 2 &gt;&gt;
     * return-stack
<span class="org-block-begin-line">       #+begin_src return-stack
</span>           <span class="return-stack-jo">(square)</span>       <span class="return-stack-jo">(dup)</span>
       <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(square)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(mul)</span> <span class="return-stack-bar-ket">]</span>
           <span class="return-stack-end">(end)</span>          <span class="return-stack-end">(end)</span>
<span class="org-block-end-line">       #+end_src
</span>  4. next
     * argument-stack &lt;&lt; 4 &gt;&gt;
     * return-stack
<span class="org-block-begin-line">       #+begin_src return-stack
</span>                          <span class="return-stack-jo">(dup)</span>
           <span class="return-stack-jo">(square)</span>       <span class="return-stack-jo">(mul)</span>
       <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(square)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-end">(end)</span> <span class="return-stack-bar-ket">]</span>
           <span class="return-stack-end">(end)</span>
<span class="org-block-end-line">       #+end_src
</span>  5. next
     * argument-stack &lt;&lt; 4 &gt;&gt;
     * return-stack
<span class="org-block-begin-line">       #+begin_src return-stack
</span>           <span class="return-stack-jo">(square)</span>
           <span class="return-stack-jo">(square)</span>
       <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-end">(end)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(dup)</span> <span class="return-stack-bar-ket">]</span>
                       <span class="return-stack-jo">(mul)</span>
                       <span class="return-stack-end">(end)</span>
<span class="org-block-end-line">       #+end_src
</span>  6. next
     * argument-stack
       &lt;&lt; 4, 4 &gt;&gt;
     * return-stack
<span class="org-block-begin-line">       #+begin_src return-stack
</span>           <span class="return-stack-jo">(square)</span>
           <span class="return-stack-jo">(square)</span>    <span class="return-stack-jo">(dup)</span>
       <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-end">(end)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(mul)</span> <span class="return-stack-bar-ket">]</span>
                       <span class="return-stack-end">(end)</span>
<span class="org-block-end-line">       #+end_src
</span>  7. next
     * argument-stack
       &lt;&lt; 16 &gt;&gt;
     * return-stack
<span class="org-block-begin-line">       #+begin_src return-stack
</span>           <span class="return-stack-jo">(square)</span>    <span class="return-stack-jo">(dup)</span>
           <span class="return-stack-jo">(square)</span>    <span class="return-stack-jo">(mul)</span>
       <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-end">(end)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-end">(end)</span> <span class="return-stack-bar-ket">]</span>
<span class="org-block-end-line">       #+end_src
</span>  8. next
     * argument-stack
       &lt;&lt; 16 &gt;&gt;
     * return-stack
<span class="org-block-begin-line">       #+begin_src return-stack
</span>           <span class="return-stack-jo">(square)</span>
           <span class="return-stack-jo">(square)</span>
       <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-end">(end)</span> <span class="return-stack-bar-ket">]</span>
<span class="org-block-end-line">       #+end_src
</span>  9. next
     * argument-stack
       &lt;&lt; 16 &gt;&gt;
     * return-stack
<span class="org-block-begin-line">       #+begin_src return-stack
</span>       <span class="return-stack-line">-</span> [  ]
<span class="org-block-end-line">       #+end_src
</span>  10. it is really simple
      ^-^
      is it not ?
<span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* helper function in assembly code</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** __exit_with_TOS  [windows32]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =windows =32bit, platform machine {

   __exit_with_TOS:

      pop_argument_stack <span class="variable-name">rax</span>
      <span class="builtin">push</span> <span class="variable-name">rax</span>
      <span class="builtin">call</span> [ExitProcess]

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* macro for jo &amp; explainer</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** link</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="comment">;; initial link to point to 0 (as null)
</span>   link = <span class="constant">0</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> primitive_string_heap</span>
<span class="org-level-2">** memory allocation</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   size$primitive_string_heap = <span class="constant">100</span> * <span class="constant">1024</span> <span class="comment">;; (byte)
</span>
   <span class="function-name">address$primitive_string_heap</span>:
      <span class="keyword">times</span> size$primitive_string_heap <span class="type">db</span> <span class="constant">0</span>

   current_free_address$primitive_string_heap = address$primitive_string_heap
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** make_primitive_string</span>
   * 2 bytes for length of name_string
   * note that
     the following is using local label
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">macro</span> <span class="function-name">make_primitive_string</span> string {

   <span class="keyword">virtual</span> <span class="keyword">at</span> <span class="constant">0</span>
   <span class="function-name">.start$string</span>:
      <span class="type">db</span> string
   <span class="function-name">.end$string</span>:
      <span class="type">dw</span> (.end$string - .start$string)
      <span class="keyword">load</span> .length <span class="type">word</span> <span class="keyword">from</span> (.end$string)
   <span class="keyword">finish</span> <span class="keyword">virtual</span>
   <span class="keyword">store</span> <span class="type">word</span> .length <span class="keyword">at</span> (current_free_address$primitive_string_heap)

   current_free_address$primitive_string_heap = current_free_address$primitive_string_heap + <span class="constant">2</span>

   <span class="keyword">repeat</span> .length
      <span class="keyword">virtual</span> <span class="keyword">at</span> <span class="constant">0</span>
         <span class="type">db</span> string
         <span class="keyword">load</span> .char <span class="type">byte</span> <span class="keyword">from</span> (% - <span class="constant">1</span>)
      <span class="keyword">finish</span> <span class="keyword">virtual</span>
      <span class="keyword">store</span> <span class="type">byte</span> .char <span class="keyword">at</span> (current_free_address$primitive_string_heap)
      current_free_address$primitive_string_heap = current_free_address$primitive_string_heap + <span class="constant">1</span>
   <span class="keyword">finish</span> <span class="keyword">repeat</span>

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>
   * note that
     after a "next" "jmp" to a explainer
     the "rax" stores the value of the jo to be explained
     so
     "rax" is used as an inexplicit argument
     of the following functions
   * explain$function is used as jojo-head
     and explains the meaning of the jojo as function
   * a jojo-head identifies one type of jo
<span class="org-level-2">** define_function</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">macro</span> <span class="function-name">define_function</span> string, <span class="builtin">jo</span> {

   define_function__#<span class="builtin">jo</span>:

   name__#<span class="builtin">jo</span>:
      <span class="type">xx</span> current_free_address$primitive_string_heap

      make_primitive_string string

   link__#<span class="builtin">jo</span>:
      <span class="type">xx</span> link
      link = link__#<span class="builtin">jo</span>

   <span class="builtin">jo</span>:
      <span class="type">xx</span> explain$function

      <span class="comment">;; here follows a jojo as function-body
</span>
   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** explain$function</span>
   * find a jojo from a function-jo
     and push the jojo to return-stack
   * a jojo can not be of size 0
   * use rax as an argument
     which stores a jo
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="function-name">explain$function</span>:
      <span class="builtin">add</span> <span class="variable-name">rax</span>, jo_size
      push_return_stack <span class="variable-name">rax</span>
      next
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>
   * primitive functions are special
     they explain themself
     and their type is not identified by jojo-head
<span class="org-level-2">** define_primitive_function</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">macro</span> <span class="function-name">define_primitive_function</span> string, <span class="builtin">jo</span> {

   define_primitive_function__#<span class="builtin">jo</span>:

   name__#<span class="builtin">jo</span>:
      <span class="type">xx</span> current_free_address$primitive_string_heap

      make_primitive_string string

   link__#<span class="builtin">jo</span>:
      <span class="type">xx</span> link
      link = link__#<span class="builtin">jo</span>

   <span class="builtin">jo</span>:
      <span class="type">xx</span> assembly_code__#<span class="builtin">jo</span>

   assembly_code__#<span class="builtin">jo</span>:

      <span class="comment">;; here follows assembly code
</span>      <span class="comment">;; as primitive function body
</span>
   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>
   * no constant
     only variable
   * when a variable jo in the jojo
     it push the value of the variable to argument_stack
   * when wish to change a variable's value
     use key_word "address" to get the address of the variable
<span class="org-level-2">** define_variable</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">macro</span> <span class="function-name">define_variable</span> string, <span class="builtin">jo</span> {

   define_variable__#<span class="builtin">jo</span>:

   name__#<span class="builtin">jo</span>:
      <span class="type">xx</span> current_free_address$primitive_string_heap

      make_primitive_string string

   link__#<span class="builtin">jo</span>:
      <span class="type">xx</span> link
      link = link__#<span class="builtin">jo</span>

   <span class="builtin">jo</span>:
      <span class="type">xx</span> explain$variable

      <span class="comment">;; here follows a value of jo_size
</span>      <span class="comment">;; only one value is allowed
</span>
   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** explain$variable</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="function-name">explain$variable</span>:
      <span class="builtin">add</span> <span class="variable-name">rax</span>, jo_size
      <span class="builtin">mov</span> <span class="variable-name">rbx</span>, [<span class="variable-name">rax</span>]
      push_argument_stack <span class="variable-name">rbx</span>
      next
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* end</span>
<span class="org-level-2">** end</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   define_primitive_function <span class="string">"end"</span>, <span class="keyword">end</span>
      pop_return_stack <span class="variable-name">rbx</span>
      next
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*the story begin*</span></span>
<span class="org-level-2">** begin_to_interpret_threaded_code [windows32]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =windows =32bit, platform machine {

   <span class="function-name">begin_to_interpret_threaded_code</span>:

      <span class="builtin">cld</span> <span class="comment">;; set DF = 0, then rsi and rdi are incremented
</span>
      <span class="builtin">mov</span> <span class="variable-name">rax</span>, first_jojo
      push_return_stack <span class="variable-name">rax</span>
      next

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** first_jojo</span>
   * you can use the following "xx little_test"
     to do some little tests
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="function-name">first_jojo</span>:
      <span class="type">xx</span> little_test
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** exit_with_TOS a.k.a. bye</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   define_primitive_function <span class="string">"bye"</span>, exit_with_TOS
      <span class="builtin">call</span> __exit_with_TOS
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** little_test</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   define_variable <span class="string">""</span>, V__little_test_number
      <span class="type">xx</span> <span class="constant">3</span>


   define_function <span class="string">"little_test"</span>, little_test

      <span class="comment">;;;; variable
</span>      <span class="type">xx</span> V__little_test_number
      <span class="type">xx</span> exit_with_TOS
      <span class="comment">;;;; 3
</span><span class="org-block-end-line">   #+end_src
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* epilog</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** un_initialized_memory [windows32]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =windows =32bit, platform machine {

   size$un_initialized_memory = <span class="constant">64</span> * <span class="constant">1024</span> * <span class="constant">1024</span> <span class="comment">;; (byte)
</span>
   <span class="keyword">section</span> <span class="default">'.data'</span> <span class="keyword">data</span> <span class="keyword">readable</span> <span class="keyword">writeable</span>
   <span class="function-name">address$un_initialized_memory</span>:
      <span class="type">rb</span> size$un_initialized_memory

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** macro about import    [windows32]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="keyword">if</span> platform <span class="keyword">eq</span> windows
   <span class="keyword">if</span> machine <span class="keyword">eq</span> 32bit

   <span class="comment">; Macroinstructions for making import section
</span>
   <span class="preprocessor">macro</span> <span class="function-name">library</span> [name,string] {
      <span class="preprocessor">common</span>
       <span class="function-name">import.data</span>:
      <span class="preprocessor">forward</span>
       <span class="preprocessor">local</span> _label
       <span class="keyword">if</span> <span class="keyword">defined</span> name#.redundant
        <span class="keyword">if</span> ~ name#.redundant
         <span class="type">dd</span> <span class="keyword">RVA</span> name#.lookup,<span class="constant">0</span>,<span class="constant">0</span>,<span class="keyword">RVA</span> _label,<span class="keyword">RVA</span> name#.address
        <span class="keyword">finish</span> <span class="keyword">if</span>
       <span class="keyword">finish</span> <span class="keyword">if</span>
       name#.referred = <span class="constant">1</span>
      <span class="preprocessor">common</span>
       <span class="type">dd</span> <span class="constant">0</span>,<span class="constant">0</span>,<span class="constant">0</span>,<span class="constant">0</span>,<span class="constant">0</span>
      <span class="preprocessor">forward</span>
       <span class="keyword">if</span> <span class="keyword">defined</span> name#.redundant
        <span class="keyword">if</span> ~ name#.redundant
         _label <span class="type">db</span> string,<span class="constant">0</span>
                <span class="type">rb</span> <span class="keyword">RVA</span> $ <span class="builtin">and</span> <span class="constant">1</span>
        <span class="keyword">finish</span> <span class="keyword">if</span>
       <span class="keyword">finish</span> <span class="keyword">if</span>
   }

   <span class="preprocessor">macro</span> <span class="keyword">import</span> name,[<span class="keyword">label</span>,string]
    { <span class="preprocessor">common</span>
       <span class="type">rb</span> (- <span class="keyword">rva</span> $) <span class="builtin">and</span> <span class="constant">3</span>
       <span class="keyword">if</span> <span class="keyword">defined</span> name#.referred
        name#.lookup:
      <span class="preprocessor">forward</span>
        <span class="keyword">if</span> <span class="keyword">used</span> <span class="keyword">label</span>
         <span class="keyword">if</span> string <span class="keyword">eqtype</span> <span class="default">''</span>
          <span class="preprocessor">local</span> _label
          <span class="type">dd</span> <span class="keyword">RVA</span> _label
         <span class="keyword">else</span>
          <span class="type">dd</span> <span class="constant">80000000h</span> + string
         <span class="keyword">finish</span> <span class="keyword">if</span>
        <span class="keyword">finish</span> <span class="keyword">if</span>
      <span class="preprocessor">common</span>
        <span class="keyword">if</span> $ &gt; name#.lookup
         name#.redundant = <span class="constant">0</span>
         <span class="type">dd</span> <span class="constant">0</span>
        <span class="keyword">else</span>
         name#.redundant = <span class="constant">1</span>
        <span class="keyword">finish</span> <span class="keyword">if</span>
        name#.address:
      <span class="preprocessor">forward</span>
        <span class="keyword">if</span> <span class="keyword">used</span> <span class="keyword">label</span>
         <span class="keyword">if</span> string <span class="keyword">eqtype</span> <span class="default">''</span>
          <span class="keyword">label</span> <span class="type">dd</span> <span class="keyword">RVA</span> _label
         <span class="keyword">else</span>
          <span class="keyword">label</span> <span class="type">dd</span> <span class="constant">80000000h</span> + string
         <span class="keyword">finish</span> <span class="keyword">if</span>
        <span class="keyword">finish</span> <span class="keyword">if</span>
      <span class="preprocessor">common</span>
        <span class="keyword">if</span> ~ name#.redundant
         <span class="type">dd</span> <span class="constant">0</span>
        <span class="keyword">finish</span> <span class="keyword">if</span>
      <span class="preprocessor">forward</span>
        <span class="keyword">if</span> <span class="keyword">used</span> <span class="keyword">label</span> &amp; string <span class="keyword">eqtype</span> <span class="default">''</span>
        _label <span class="type">dw</span> <span class="constant">0</span>
               <span class="type">db</span> string,<span class="constant">0</span>
               <span class="type">rb</span> <span class="keyword">RVA</span> $ <span class="builtin">and</span> <span class="constant">1</span>
        <span class="keyword">finish</span> <span class="keyword">if</span>
      <span class="preprocessor">common</span>
       <span class="keyword">finish</span> <span class="keyword">if</span>
   }

   <span class="keyword">finish</span> <span class="keyword">if</span>
   <span class="keyword">finish</span> <span class="keyword">if</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** section about import  [windows32]</span>
<span class="org-block-begin-line">   #+begin_src fasm :tangle cicada-nymph.fasm
</span>   <span class="preprocessor">match</span> =windows =32bit, platform machine {

   <span class="keyword">section</span> <span class="default">'.idata'</span> <span class="keyword">import</span> <span class="keyword">data</span> <span class="keyword">readable</span> <span class="keyword">writeable</span>

   library kernel32,<span class="default">'KERNEL32.DLL'</span>

   <span class="keyword">import</span> kernel32,\
          ExitProcess,<span class="default">'ExitProcess'</span>,\
          ReadFile,<span class="default">'ReadFile'</span>,\
          WriteFile,<span class="default">'WriteFile'</span>,\
          GetStdHandle,<span class="default">'GetStdHandle'</span>,\
          CloseHandle, <span class="default">'CloseHandle'</span>,\
          CreateFileA, <span class="default">'CreateFileA'</span>

   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* ===================================</span>
</pre>
  </body>
</html>
