---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>intro-of-cicada-nymph.org</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    <!--
      body {
        color: #f8f8f0;
        background-color: #1b1d1e;
      }
      .cicada-nymph-comment {
        /* cicada-nymph-comment-face */
        color: #FF8888;
      }
      .cicada-nymph-end {
        /* cicada-nymph-end-face */
        color: #00ffff;
        font-weight: bold;
      }
      .cicada-nymph-lexicographer {
        /* cicada-nymph-lexicographer-face */
        color: #ae81ff;
        font-weight: bold;
      }
      .cicada-nymph-number {
        /* cicada-nymph-number-face */
        color: #fd971f;
        font-weight: bold;
      }
      .cicada-nymph-sentence-reader {
        /* cicada-nymph-sentence-reader-face */
        color: #ffff00;
        font-weight: bold;
      }
      .cicada-nymph-syntax-key-word {
        /* cicada-nymph-syntax-key-word-face */
        color: #f92672;
        font-weight: bold;
      }
      .cicada-nymph-word-to-define {
        /* cicada-nymph-word-to-define-face */
        color: #ef5939;
        font-weight: bold;
      }
      .org-block-begin-line {
        /* org-block-begin-line */
        color: #FF8888;
      }
      .org-block-end-line {
        /* org-block-end-line */
        color: #FF8888;
      }
      .org-document-info {
        /* org-document-info */
        color: #afeeee;
      }
      .org-document-info-keyword {
        /* org-document-info-keyword */
        color: #b3b3b3;
      }
      .org-document-title {
        /* org-document-title */
        color: #afeeee;
        font-weight: bold;
      }
      .org-level-1 {
        /* org-level-1 */
        color: #a6e22e;
      }
      .org-level-2 {
        /* org-level-2 */
        color: #fd971f;
      }
      .org-link {
        /* org-link */
        color: #00ffff;
        text-decoration: underline;
      }

      a {
        color: inherit;
        background-color: inherit;
        font: inherit;
        text-decoration: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
    -->
    </style>
{% include in-org-head.html %}
  </head>
  <body>
    {% include before-pre.html %}
<pre>
<span class="org-document-info-keyword">#+TITLE:</span>  <span class="org-document-title">&#23567;&#34796;&#35486;&#24341; / intro-of-cicada-nymph
</span><span class="org-document-info-keyword">#+AUTHOR:</span> <span class="org-document-info">&#35613;&#23431;&#24646; / XIE Yuheng
</span><span class="org-document-info-keyword">#+EMAIL:</span>  <span class="org-document-info">xyheme@gmail.com
</span>
<span class="org-level-1">* &#28304;&#30908;</span>
  * <span class="org-link"><a href="https://github.com/the-little-language-designer/cicada-nymph">&#35351;&#31649;&#22312; github &#19978;&#30340;&#20195;&#30908;&#24235;</a></span>
  * &#22312;&#32178;&#38913;&#19978;&#28687;&#35261;&#28304;&#20195;&#30908;
    1. &#21295;&#32232;&#20195;&#30908; : <span class="org-link"><a href="../overview.html">cicada-nymph.org</a></span>       
    2. &#23567;&#34796;&#35486;&#20195;&#30908; : <span class="org-link"><a href="../core/overview.html">core.org</a></span>
<span class="org-level-1">* &#38988;&#35299;</span>
  * &#21517;&#29234;&#23567;&#34796;&#35486;
    &#26159;&#22240;&#29234;
    &#25105;&#36215;&#21021;&#29234;&#20102;&#25945;&#23416;&#30446;&#30340;&#32780;&#23526;&#29694;&#36889;&#20491;&#31243;&#24207;&#35486;&#35328;
    &#32780;&#20854;&#35373;&#35336;&#20358;&#28304;&#26044; &#25105;&#25152;&#35373;&#35336;&#30340;
    &#21517;&#29234; &#34796;&#35486; &#30340;&#31243;&#24207;&#35486;&#35328;&#20043;&#26089;&#26399;&#29256;&#26412;
  * &#25105;&#24478;&#38957;&#38283;&#22987;&#23531;
    &#30001;&#22312;&#20043;&#21069;&#30340;&#24190;&#27425;&#35373;&#35336;&#20013;&#25152;&#31309;&#32047;&#30340;&#32147;&#39511;
    &#25105;&#24471;&#20197;&#31777;&#21270;&#20195;&#30908;
    &#20006;&#20351;&#20854;&#32080;&#27083;&#26356;&#28165;&#26224;
  * &#25105;&#25226;&#23526;&#29694;&#20013;&#30340;&#27599;&#20491;&#38364;&#37749;&#27493;&#39519;&#20957;&#32080;&#25104;
    &#21487;&#20197;&#29544;&#31435;&#24037;&#20316;&#30340;&#31243;&#24207;
    &#20006;&#19988;&#29992;&#19968;&#20123;&#31777;&#21934;&#28204;&#35430;
    &#20358;&#23637;&#31034;&#27599;&#20491;&#38364;&#37749;&#27493;&#39519;&#20013;&#25152;&#23526;&#29694;&#30340;&#24615;&#29376;
    1. <span class="org-link"><a href="../1st-instar/overview.html">&#40801;&#19968;</a></span>
       &#22522;&#26412;&#30340;&#32218;&#20018;&#30908;&#35299;&#37323;&#22120;
    2. <span class="org-link"><a href="../2nd-instar/overview.html">&#40801;&#20108;</a></span>
       &#32218;&#20018;&#30908;&#20013;&#30340;&#22522;&#26412;&#25351;&#20196;
    3. <span class="org-link"><a href="../3rd-instar/overview.html">&#40801;&#19977;</a></span>
       &#22522;&#26412;&#36664;&#20837;&#36664;&#20986;
       &#36681;&#36339;&#25351;&#20196;
    4. <span class="org-link"><a href="../4th-instar/overview.html">&#40801;&#22235;</a></span>
       &#22522;&#26412; REPL
    5. <span class="org-link"><a href="../5th-instar/overview.html">&#40801;&#20116;</a></span>
       &#21152;&#19978; &#32232;&#35695;&#22120;
       &#23601;&#24471;&#21040;&#23436;&#25972;&#30340; &#23567;&#34796;&#35486;
    6. <span class="org-link"><a href="../overview.html">&#36914;&#34892;&#20013;&#30340;&#23567;&#34796;&#35486;</a></span>
       &#23565;&#24615;&#29376;&#30340;&#19968;&#20123;&#35920;&#23500;&#33287;&#35036;&#20805;
       &#20351;&#24471; &#23567;&#34796;&#35486; &#22312;&#25945;&#23416;&#30446;&#30340;&#20043;&#22806;
       &#20063;&#33021;&#21213;&#26044;&#20854;&#20182;&#20219;&#21209;
  * &#36890;&#36942;&#36889;&#31278;&#26041;&#24335;
    &#20006;&#35036;&#20805;&#20197;
    &#35336;&#31639;&#27231;&#27083;&#26550; &#21644; &#21295;&#32232;&#35486;&#35328;&#30340;&#22522;&#26412;&#30693;&#35672;
    &#25105;&#24471;&#20197;
    &#20197;&#36889;&#20491;&#31777;&#21934;&#30340;&#31243;&#24207;&#35486;&#35328;&#30340;&#23526;&#29694;&#29234;&#22522;&#30990;
    &#20358;&#35611;&#25480; <span class="org-link"><a href="../course/overview.html">&#21295;&#32232;&#35486;&#35328;&#35506;&#31243;&#30340;&#23526;&#39511;&#35506;</a></span>
<span class="org-level-1">* &#36939;&#34892;</span>
  * <span class="org-link"><a href="https://github.com/the-little-language-designer/cicada-nymph">&#35531;&#21040;&#36889;&#35023;&#19979;&#36617;&#28304;&#20195;&#30908;</a></span>
    &#20006;&#20381;&#29031;&#25351;&#31034;&#32232;&#35695;&#35299;&#37323;&#22120;
<span class="org-level-1">* &#31777;&#21934;&#30340;&#20363;&#23376;</span>
<span class="org-level-2">** &#22519;&#34892;&#20989;&#25976;</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph
</span>   <span class="cicada-nymph-comment">&lt;&lt; &#35336;&#31639; 3 &#33287; 4 &#30340;&#21644; &#20006;&#25171;&#21360;&#20986;&#32080;&#26524; &gt;&gt;</span>
   <span class="cicada-nymph-number">3</span> <span class="cicada-nymph-number">4</span> add .

   <span class="cicada-nymph-number">3</span>    <span class="cicada-nymph-comment">&lt;&lt; &#23559; 3 &#20837;&#26855; &gt;&gt;</span>
   <span class="cicada-nymph-number">4</span>    <span class="cicada-nymph-comment">&lt;&lt; &#23559; 4 &#20837;&#26855; &gt;&gt;</span>
   add  <span class="cicada-nymph-comment">&lt;&lt; &#23559;&#26855;&#20013;&#20841;&#25976;&#21462;&#20986;&#20006;&#30456;&#21152; &#25226;&#35336;&#31639;&#32080;&#26524;&#25918;&#22238;&#26855;&#20013; &gt;&gt;</span>
   .    <span class="cicada-nymph-comment">&lt;&lt; &#25171;&#21360;&#20986;&#26855;&#38914;&#25976;&#20540; &gt;&gt;</span>


   <span class="cicada-nymph-comment">&lt;&lt; &#35336;&#31639; 4 &#30340;&#24179;&#26041; &#20006;&#25171;&#21360;&#20986;&#32080;&#26524; &gt;&gt;</span>
   <span class="cicada-nymph-number">4</span> dup mul .

   <span class="cicada-nymph-number">4</span>    <span class="cicada-nymph-comment">&lt;&lt; &#23559; 4 &#20837;&#26855; &gt;&gt;</span>
   dup  <span class="cicada-nymph-comment">&lt;&lt; &#23559;&#26855;&#38914;&#20803;&#32032;&#35079;&#35069; &gt;&gt;</span>
   mul  <span class="cicada-nymph-comment">&lt;&lt; &#23559;&#26855;&#20013;&#20841;&#25976;&#21462;&#20986;&#20006;&#30456;&#20056; &#25226;&#35336;&#31639;&#32080;&#26524;&#25918;&#22238;&#26855;&#20013; &gt;&gt;</span>
   .    <span class="cicada-nymph-comment">&lt;&lt; &#25171;&#21360;&#20986;&#26855;&#38914;&#25976;&#20540; &gt;&gt;</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** &#23450;&#32681;&#20989;&#25976;</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph
</span>   <span class="cicada-nymph-comment">&lt;&lt; &#23450;&#32681;&#19968;&#20491;&#20989;&#25976; &#20197;&#35336;&#31639;&#24179;&#26041; &gt;&gt;</span>
   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">square</span>
     <span class="cicada-nymph-comment">&lt;&lt; number -- number &gt;&gt;</span>
     <span class="cicada-nymph-comment">&lt;&lt; &#19978;&#38754;&#30340;&#19968;&#34892;&#35387;&#37323;&#20195;&#34920;
        &#36889;&#20491;&#20989;&#25976;
        &#21462;&#26855;&#20013;&#30340;&#19968;&#20491;&#25976;&#20316;&#29234;&#21443;&#25976;
        &#20006;&#36820;&#22238;&#19968;&#20491;&#25976;&#21040;&#26855;&#20013; &gt;&gt;</span>
     dup mul
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

   <span class="cicada-nymph-comment">&lt;&lt; &#35336;&#31639; 4 &#30340;&#24179;&#26041; &#20006;&#25171;&#21360;&#20986;&#32080;&#26524; &gt;&gt;</span>
   <span class="cicada-nymph-number">4</span> square .
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** &#36958;&#27512;&#20989;&#25976;</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph
</span>   <span class="cicada-nymph-comment">&lt;&lt; &#23450;&#32681;&#38542;&#20056;&#20989;&#25976; &gt;&gt;</span>
   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">factorial</span>
     <span class="cicada-nymph-comment">&lt;&lt; number -- number &gt;&gt;</span>
     dup one? <span class="cicada-nymph-syntax-key-word">if</span>
       <span class="cicada-nymph-end">end</span>
     <span class="cicada-nymph-syntax-key-word">then</span>
     dup sub1 factorial
     mul
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

   <span class="cicada-nymph-comment">&lt;&lt; &#35336;&#31639; 4 &#30340;&#38542;&#20056; &#20006;&#25171;&#21360;&#20986;&#32080;&#26524; &gt;&gt;</span>
   <span class="cicada-nymph-number">4</span> factorial .

   <span class="cicada-nymph-comment">&lt;&lt; &#35336;&#31639; 4 &#30340;&#38542;&#20056; &#20006;&#25171;&#21360;&#20986;&#32080;&#26524; &gt;&gt;</span>
   <span class="cicada-nymph-number">4</span> <span class="cicada-nymph-number">3</span> <span class="cicada-nymph-number">2</span> <span class="cicada-nymph-number">1</span> mul mul mul .
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-1">* ===================================</span>
<span class="org-level-1">* source code</span>
  * <span class="org-link"><a href="https://github.com/the-little-language-designer/cicada-nymph">repo on github</a></span>
  * view the source code on web    
    1. assembly code : <span class="org-link"><a href="../overview.html">cicada-nymph.org</a></span>
    2. cicada-nymph code : <span class="org-link"><a href="../core/overview.html">core.org</a></span>
<span class="org-level-1">* to explain the title</span>
  * the name of the language is cicada-nymph
    because it is implemented for teaching purpose at first
    and the design is based on
    the early version of cicada-language
  * I rewrite it
    and due to the experiences that I gained
    from previous implementations
    I am able to simplify the code
    and make its structure much more clear
  * then
    from each major steps of the development
    I do abstract
    to form an independently working program
    and equip it with simple test
    to demonstrate the feature that got implemented
    from that specific step of development
    1. <span class="org-link"><a href="../1st-instar/overview.html">1st-instar</a></span>
       the threaded code interpreter
    2. <span class="org-link"><a href="../2nd-instar/overview.html">2nd-instar</a></span>
       basic instructions of threaded code
    3. <span class="org-link"><a href="../3rd-instar/overview.html">3rd-instar</a></span>
       basic io
       instructions about branching
    4. <span class="org-link"><a href="../4th-instar/overview.html">4th-instar</a></span>
       basic REPL
    5. <span class="org-link"><a href="../5th-instar/overview.html">5th-instar</a></span>
       with the compile
       we have the complete cicada-nymph
    6. <span class="org-link"><a href="../overview.html">the ongoing cicada-nymph</a></span>
       add more features
       to let cicada-nymph be fit for missions other than teaching
  * thus
    I am able to use the implementation of this simple language
    to teach an <span class="org-link"><a href="../course/overview.html">experimental assembly course</a></span>
    (currently Chinese version only
     I will translate it to English when needed)
<span class="org-level-1">* to run</span>
  * <span class="org-link"><a href="https://github.com/the-little-language-designer/cicada-nymph">please visit this repository to download the source code</a></span>
    and follow the instructions there
    to compile the interpreter
<span class="org-level-1">* simple examples</span>
<span class="org-level-2">** function application</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph
</span>   <span class="cicada-nymph-comment">&lt;&lt; calculate the sum of 3 &amp; 4 and print the result &gt;&gt;</span>
   <span class="cicada-nymph-number">3</span> <span class="cicada-nymph-number">4</span> add .

   <span class="cicada-nymph-number">3</span>    <span class="cicada-nymph-comment">&lt;&lt; push 3 to stack &gt;&gt;</span>
   <span class="cicada-nymph-number">4</span>    <span class="cicada-nymph-comment">&lt;&lt; push 4 to stack &gt;&gt;</span>
   mul  <span class="cicada-nymph-comment">&lt;&lt; take the top two numbers off the stack
           add them
           and push the result back onto the stack &gt;&gt;</span>
   .    <span class="cicada-nymph-comment">&lt;&lt; print the value at the top of the stack &gt;&gt;</span>


   <span class="cicada-nymph-comment">&lt;&lt; calculate the square of 4 and print the result &gt;&gt;</span>
   <span class="cicada-nymph-number">4</span> dup mul .

   <span class="cicada-nymph-number">4</span>    <span class="cicada-nymph-comment">&lt;&lt; push 4 to stack &gt;&gt;</span>
   dup  <span class="cicada-nymph-comment">&lt;&lt; duplicate the value at the top of the stack &gt;&gt;</span>
   mul  <span class="cicada-nymph-comment">&lt;&lt; take the top two numbers off the stack
           multiple them
           and push the result back onto the stack &gt;&gt;</span>
   .    <span class="cicada-nymph-comment">&lt;&lt; print the value at the top of the stack &gt;&gt;</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** function definition</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph
</span>   <span class="cicada-nymph-comment">&lt;&lt; define a function to calculate square &gt;&gt;</span>
   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">square</span>
     <span class="cicada-nymph-comment">&lt;&lt; number -- number &gt;&gt;</span>
     <span class="cicada-nymph-comment">&lt;&lt; the above comment denotes that
        the function defined here will
        take one number as argument from the stack
        return one number as return value back to the stack &gt;&gt;</span>
     dup mul
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

   <span class="cicada-nymph-comment">&lt;&lt; calculate the sum of 3 &amp; 4 and print the result &gt;&gt;</span>
   <span class="cicada-nymph-number">4</span> square .
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** recursive function</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">factorial</span>
     <span class="cicada-nymph-comment">&lt;&lt; number -- number &gt;&gt;</span>
     dup one? <span class="cicada-nymph-syntax-key-word">if</span>
       <span class="cicada-nymph-end">end</span>
     <span class="cicada-nymph-syntax-key-word">then</span>
     dup sub1 factorial
     mul
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

   <span class="cicada-nymph-comment">&lt;&lt; calculate the factorial of 4 and print the result &gt;&gt;</span>
   <span class="cicada-nymph-number">4</span> factorial .

   <span class="cicada-nymph-comment">&lt;&lt; calculate the factorial of 4 and print the result &gt;&gt;</span>
   <span class="cicada-nymph-number">4</span> <span class="cicada-nymph-number">3</span> <span class="cicada-nymph-number">2</span> <span class="cicada-nymph-number">1</span> mul mul mul .
<span class="org-block-end-line">   #+end_src
</span></pre>
  </body>
</html>
