@font-face
{
    font-family: "ms-song";
    src: url("{{ site.url }}/assets/font/MS-Song/MS-Song.woff") format("woff");
    font-weight: normal;
    font-style:  normal;
}

@font-face
{
    font-family: "pmingliu-tw";
    src: url("{{ site.url }}/assets/font/臺灣早期印刷字形之細明體/R-PMingLiU-TW.woff") format("woff");
    font-weight: normal;
    font-style:  normal;
}

@font-face
{
    font-family: "ming-lan";
    src: url("{{ site.url }}/assets/font/花明蘭黑6.1/H-MingLan-R.woff") format("woff");
    font-weight: normal;
    font-style:  normal;
}

@font-face
{
    font-family: "monofur";
    src: url("{{ site.url }}/assets/font/monofur/monof55.woff") format("woff");
    font-weight: normal;
    font-style:  normal;
}

@font-face
{
    font-family: "envy-code";
    src: url("{{ site.url }}/assets/font/Envy-Code-R-PR7/Envy-Code-R.woff") format("woff");
    font-weight: normal;
    font-style:  normal;
}

@font-face
{
    font-family: "lmmono10";
    src: url("{{ site.url }}/assets/font/Latin-Modern-Mono/lmmono10-regular.woff") format("woff");
    font-weight: normal;
    font-style:  normal;
}
