@font-face
{
    font-family: "MS-Song";
    src: url("font/MS-Song/MS-Song.woff") format("woff");
    font-weight: normal;
    font-style:  normal;
}

@font-face
{
    font-family: "monofur";
    src: url("font/monofur/monof55.woff") format("woff");
    font-weight: normal;
    font-style:  normal;
}


* 
{
    font-family: "MS-Song", "monofur";
    /* white-space: normal; */
}