---
---

{% include font.css %}

body {
    font-size: 22px;
    color: #f8f8f0;
    background-color: #1b1d1e;
    font-family: "Envy Code R", "R-PMingLiU-TW";
}

pre {
    font-size: 22px;
    color: #f8f8f0;
    background-color: #1b1d1e;
    font-family: "Envy Code R", "R-PMingLiU-TW";
}

pre {
    margin-left: 0.7em;
}

.button-1-3 {
    display: inline-block;
    cursor: pointer;
    width: 31%;
    border-radius: 0.2em;

    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.button-1-3:hover {
    text-decoration: none;
  }

.button-1-3[href="overview.html"] {
    color: #a64609;
    background-color: #a6e22e;
}
.button-1-3[href="overview.html"]:hover {
    background-color: #98fb98;
}

.button-1-3[href="contents.html"] {
    color: #afeeee; 
    background-color: #fd971f;
}
.button-1-3[href="contents.html"]:hover {
    background-color: #ff8888;
}

.button-1-3[href="show-all.html"] {
    color: #f8f8f0;
    background-color: #ef5939;
}
.button-1-3[href="show-all.html"]:hover {
    background-color: #ffc0cb;
}


