---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!-- Created by org-2-html-1.47 in css mode. -->
<html>
  <head>
    <title>intro.orgorg-content</title>
{% include in-org-head.html %}
    <style type="text/css">
    <!--
      body {
        color: #000000;
        background-color: #ffffff;
      }

      a {
        color: inherit;
        background-color: inherit;
        font: inherit;
        text-decoration: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
    -->
    </style>
  </head>
  <body>
    {% include before-pre.html %}
<pre>
#+TITLE:  &#24341;&#23376; / intro
#+AUTHOR: &#35613;&#23431;&#24646; / XIE Yuheng
#+EMAIL:  xyheme@gmail.com

* &#38988;&#35299;
** &#23567;&#23567;&#35486;&#35328;&#35373;&#35336;&#23478;
** &#23567;&#34796;&#35486;
** &#34796;&#35486;
* &#36039;&#26009;
** forth 
** fasm
* &#32177;&#35201;
** &#35611;
** &#35712;
* &#24037;&#20855;
** &#25991;&#26412;&#32232;&#36655;&#22120;
** &#25805;&#20316;&#31995;&#32113;
* &#23614;&#32882;
** &#38283;&#25918;&#28304;&#20195;&#30908;&#36939;&#21205;
** hackerspace &amp; makerspace
</pre>
  </body>
</html>
