---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>szdiy-cicada-nymph-course.org</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    <!--
      body {
        color: #f8f8f0;
        background-color: #1b1d1e;
      }
      .bold {
        /* bold */
        font-weight: bold;
      }
      .builtin {
        /* font-lock-builtin-face */
        color: #a6e22e;
      }
      .cicada-nymph-comment {
        /* cicada-nymph-comment-face */
        color: #FF8888;
      }
      .cicada-nymph-define-function {
        /* cicada-nymph-define-function-face */
        color: #ae81ff;
        font-weight: bold;
      }
      .cicada-nymph-end {
        /* cicada-nymph-end-face */
        color: #00ffff;
        font-weight: bold;
      }
      .cicada-nymph-function-to-define {
        /* cicada-nymph-function-to-define-face */
        color: #ef5939;
        font-weight: bold;
      }
      .cicada-nymph-number {
        /* cicada-nymph-number-face */
        color: #fd971f;
        font-weight: bold;
      }
      .cicada-nymph-sentence-reader {
        /* cicada-nymph-sentence-reader-face */
        color: #ffff00;
        font-weight: bold;
      }
      .cicada-nymph-syntax-key-word {
        /* cicada-nymph-syntax-key-word-face */
        color: #f92672;
        font-weight: bold;
      }
      .comment {
        /* font-lock-comment-face */
        color: #FF8888;
      }
      .function-name {
        /* font-lock-function-name-face */
        color: #a6e22e;
      }
      .keyword {
        /* font-lock-keyword-face */
        color: #f92672;
        font-weight: bold;
      }
      .org-block-begin-line {
        /* org-block-begin-line */
        color: #FF8888;
      }
      .org-block-end-line {
        /* org-block-end-line */
        color: #FF8888;
      }
      .org-document-info {
        /* org-document-info */
        color: #afeeee;
      }
      .org-document-info-keyword {
        /* org-document-info-keyword */
        color: #b3b3b3;
      }
      .org-document-title {
        /* org-document-title */
        color: #afeeee;
        font-weight: bold;
      }
      .org-level-1 {
        /* org-level-1 */
        color: #a6e22e;
      }
      .org-level-2 {
        /* org-level-2 */
        color: #fd971f;
      }
      .org-level-3 {
        /* org-level-3 */
        color: #ff2727;
      }
      .preprocessor {
        /* font-lock-preprocessor-face */
        color: #a6e22e;
      }
      .return-stack-bar-ket {
        /* return-stack-bar-ket-face */
        color: #dc322f;
        font-weight: bold;
      }
      .return-stack-end {
        /* return-stack-end-face */
        color: #00ffff;
        font-weight: bold;
      }
      .return-stack-jo {
        /* return-stack-jo-face */
        color: #ef5939;
        font-weight: bold;
      }
      .return-stack-line {
        /* return-stack-line-face */
        color: #ae81ff;
        font-weight: bold;
      }
      .return-stack-sentence-reader {
        /* return-stack-sentence-reader-face */
        color: #ffff00;
        font-weight: bold;
      }
      .return-stack-the-jo {
        /* return-stack-the-jo-face */
        color: #fd971f;
        font-weight: bold;
      }
      .return-stack-word-to-define {
        /* return-stack-word-to-define-face */
        color: #ef5939;
        font-weight: bold;
      }
      .string {
        /* font-lock-string-face */
        color: #e6db74;
      }
      .type {
        /* font-lock-type-face */
        color: #66d9ef;
        font-weight: bold;
      }
      .variable-name {
        /* font-lock-variable-name-face */
        color: #fd971f;
      }

      a {
        color: inherit;
        background-color: inherit;
        font: inherit;
        text-decoration: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
    -->
    </style>
{% include in-org-head.html %}
  </head>
  <body>
    {% include before-pre.html %}
<pre>
<span class="org-document-info-keyword">#+TITLE:</span>  <span class="org-document-title">&#23567;&#34796;&#35486;&#26044; SZDIY
</span><span class="org-document-info-keyword">#+AUTHOR:</span> <span class="org-document-info">&#35613;&#23431;&#24646; / XIE Yuheng
</span>
<span class="org-level-1">* ===================================</span>
<span class="org-level-1">* &#38988;&#35299;</span>
<span class="org-level-2">** cicada-nymph &#30340;&#35299;&#37323;&#22120;</span>
<span class="org-level-3">*** &#22519;&#34892;&#20989;&#25976;</span>
<span class="org-block-begin-line">    #+begin_src cicada-nymph
</span>    <span class="cicada-nymph-comment">&lt;&lt; &#35336;&#31639; 3 &#33287; 4 &#30340;&#21644; &#20006;&#25171;&#21360;&#20986;&#32080;&#26524; &gt;&gt;</span>
    <span class="cicada-nymph-number">3</span> <span class="cicada-nymph-number">4</span> add .

    <span class="cicada-nymph-number">3</span>    <span class="cicada-nymph-comment">&lt;&lt; &#23559; 3 &#20837;&#26855; &gt;&gt;</span>
    <span class="cicada-nymph-number">4</span>    <span class="cicada-nymph-comment">&lt;&lt; &#23559; 4 &#20837;&#26855; &gt;&gt;</span>
    add  <span class="cicada-nymph-comment">&lt;&lt; &#23559;&#26855;&#20013;&#20841;&#25976;&#21462;&#20986;&#20006;&#30456;&#21152; &#25226;&#35336;&#31639;&#32080;&#26524;&#25918;&#22238;&#26855;&#20013; &gt;&gt;</span>
    .    <span class="cicada-nymph-comment">&lt;&lt; &#25171;&#21360;&#20986;&#26855;&#38914;&#25976;&#20540; &gt;&gt;</span>


    <span class="cicada-nymph-comment">&lt;&lt; &#35336;&#31639; 4 &#30340;&#24179;&#26041; &#20006;&#25171;&#21360;&#20986;&#32080;&#26524; &gt;&gt;</span>
    <span class="cicada-nymph-number">4</span> dup mul .

    <span class="cicada-nymph-number">4</span>    <span class="cicada-nymph-comment">&lt;&lt; &#23559; 4 &#20837;&#26855; &gt;&gt;</span>
    dup  <span class="cicada-nymph-comment">&lt;&lt; &#23559;&#26855;&#38914;&#20803;&#32032;&#35079;&#35069; &gt;&gt;</span>
    mul  <span class="cicada-nymph-comment">&lt;&lt; &#23559;&#26855;&#20013;&#20841;&#25976;&#21462;&#20986;&#20006;&#30456;&#20056; &#25226;&#35336;&#31639;&#32080;&#26524;&#25918;&#22238;&#26855;&#20013; &gt;&gt;</span>
    .    <span class="cicada-nymph-comment">&lt;&lt; &#25171;&#21360;&#20986;&#26855;&#38914;&#25976;&#20540; &gt;&gt;</span>
<span class="org-block-end-line">    #+end_src
</span><span class="org-level-3">*** &#23450;&#32681;&#20989;&#25976;</span>
<span class="org-block-begin-line">    #+begin_src cicada-nymph
</span>    <span class="cicada-nymph-comment">&lt;&lt; &#23450;&#32681;&#19968;&#20491;&#20989;&#25976; &#20197;&#35336;&#31639;&#24179;&#26041; &gt;&gt;</span>
    <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-function-to-define">square</span>
      <span class="cicada-nymph-comment">&lt;&lt; number -- number &gt;&gt;</span>
      dup mul
      <span class="cicada-nymph-end">end</span>
    <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-define-function">define-function</span>

    <span class="cicada-nymph-comment">&lt;&lt; &#35336;&#31639; 4 &#30340;&#24179;&#26041; &#20006;&#25171;&#21360;&#20986;&#32080;&#26524; &gt;&gt;</span>
    <span class="cicada-nymph-number">4</span> square .
<span class="org-block-end-line">    #+end_src
</span><span class="org-level-3">*** &#36958;&#27512;&#20989;&#25976;</span>
<span class="org-block-begin-line">    #+begin_src cicada-nymph
</span>    <span class="cicada-nymph-comment">&lt;&lt; &#23450;&#32681;&#38542;&#20056;&#20989;&#25976; &gt;&gt;</span>
    <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-function-to-define">factorial</span>
      <span class="cicada-nymph-comment">&lt;&lt; number -- number &gt;&gt;</span>
      dup one? <span class="cicada-nymph-syntax-key-word">if</span>
        <span class="cicada-nymph-end">end</span>
      <span class="cicada-nymph-syntax-key-word">then</span>
      dup sub1 factorial mul
      <span class="cicada-nymph-end">end</span>
    <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-define-function">define-function</span>

    <span class="cicada-nymph-comment">&lt;&lt; &#35336;&#31639; 4 &#30340;&#38542;&#20056; &#20006;&#25171;&#21360;&#20986;&#32080;&#26524; &gt;&gt;</span>
    <span class="cicada-nymph-number">4</span> factorial .

    <span class="cicada-nymph-comment">&lt;&lt; &#35336;&#31639; 4 &#30340;&#38542;&#20056; &#20006;&#25171;&#21360;&#20986;&#32080;&#26524; &gt;&gt;</span>
    <span class="cicada-nymph-number">4</span> <span class="cicada-nymph-number">3</span> <span class="cicada-nymph-number">2</span> <span class="cicada-nymph-number">1</span> mul mul mul .
<span class="org-block-end-line">    #+end_src
</span><span class="org-level-2">** cicada-instar</span>
<span class="org-level-1">* &#29664;&#23376;</span>
<span class="org-level-2">** &#25105;&#21482;&#35352;&#20303;&#20102;&#25277;&#35937;&#30340;&#27169;&#22411;</span>
   * &#25105;&#24536;&#35352;&#20102;&#20855;&#39636;&#23526;&#29694;&#36889;&#20491;&#27169;&#22411;&#30340;&#20195;&#30908;&#26159;&#20160;&#40636;
     &#25105;&#21482;&#35352;&#20303;&#20102;&#25277;&#35937;&#30340;&#27169;&#22411;
<span class="org-level-2">** &#29664;&#23376;&#30340;&#20998;&#39006;</span>
   * &#32032;&#20989;&#25976;&#29664; [primitive-function-jo] &#29992;&#21295;&#32232;&#20195;&#30908;&#23531;
   * &#20989;&#25976;&#29664;   [function-jo]           &#29992;&#32218;&#20018;&#30908;&#23531;
   * &#35722;&#37327;&#29664;   [variable-jo]
   * &#19968;&#38982;&#29664;&#23376;&#20195;&#34920;&#19968;&#20491;&#20989;&#25976;
     &#19968;&#20018;&#29664;&#23376;&#20195;&#34920;&#19968;&#20123;&#20989;&#25976;&#30340;&#35079;&#21512;&#20570;&#24418;&#25104;&#30340;&#20989;&#25976;&#39636;
     &#19968;&#20491;&#20989;&#25976;&#39636;&#21487;&#20197;&#34987;&#32102;&#20197;&#21517;&#23383;
     &#32780;&#23450;&#32681;&#29234;&#19968;&#20491;&#26032;&#30340;&#20989;&#25976;
<span class="org-level-2">** &#29664;&#23376;&#27604;&#21947;&#20989;&#25976; &#19968;&#20018;&#29664;&#23376;&#27604;&#21947;&#20989;&#25976;&#39636;</span>
   * &#23450;&#32681;&#26032;&#30340;&#20989;&#25976;&#23601;&#26159;
     1. &#29992;&#24050;&#26377;&#30340;&#20989;&#25976; <span class="bold">*&#27083;&#36896;*</span> &#19968;&#20491; <span class="bold">*&#20989;&#25976;&#39636;*</span>
     2. &#32102;&#36889;&#20491; &#20989;&#25976;&#39636; &#19968;&#20491;&#21517;&#23383;
   * &#36889;&#35023; <span class="bold">*&#27083;&#36896;*</span> &#30340;&#26041;&#24335;&#23601;&#26159; <span class="bold">*&#20989;&#25976;&#35079;&#21512;*</span>
     &#23601;&#26159; &#20989;&#25976;&#30340;&#30456;&#27231;&#20316;&#29992;
     &#23601;&#26159; &#25226;&#29664;&#23376;&#20018;&#25104;&#20018;
     &#19968;&#20018;&#29664;&#23376;&#23601;&#20195;&#34920; &#20989;&#25976;&#39636;
     &#31359;&#29664;&#23376;&#30340;&#36942;&#31243;&#23601;&#20687;&#26159; &#35069;&#20316;&#35079;&#21512;&#20989;&#25976;&#30340;&#36942;&#31243;
<span class="org-level-2">** &#38364;&#26044;&#20989;&#25976;&#35079;&#21512;</span>
   * &#25976;&#23416;&#35023;&#35352;&#20570;
     (g&#8201;&#8728;&#8201;f)(x) = g(f(x))
     &#25105;&#35352;&#20570;
     f g
     &#21443;&#25976; x &#22312;&#21443;&#25976;&#26855;&#35023; &#19981;&#29992;&#26126;&#39023;&#23531;&#20986;&#20358;
<span class="org-level-2">** &#29664;&#23376;&#30340;&#35422;&#20856;</span>
   * label dup &#30340;&#20540;[&#21363;&#19968;&#20491;&#20839;&#23384;&#20013;&#30340;&#22320;&#22336;]
     &#23601;&#34987;&#29702;&#35299;&#29234; dup &#36889;&#20491;&#29664;&#23376; &#22312;&#29664;&#23376;&#30340;&#35422;&#20856;&#20013;&#30340;&#20301;&#32622;
   * &#25214;&#21040;&#20102;&#36889;&#20491;&#20301;&#32622;
     &#23601;&#25214;&#21040;&#20102;&#35422;&#20856;&#20013;&#36889;&#20491;&#26781;&#30446;&#19979;&#30340;&#25152;&#26377;&#20449;&#24687;
<span class="org-level-1">* &#32032;&#29664;</span>
<span class="org-level-2">** define_primitive_function</span>
<span class="org-block-begin-line">   #+begin_src fasm
</span>   <span class="preprocessor">macro</span> <span class="function-name">define_primitive_function</span> string, <span class="builtin">jo</span> {

   name__#<span class="builtin">jo</span>:
      <span class="type">xx</span> current_free_address$string_area
      make_primitive_string string
   link__#<span class="builtin">jo</span>:
      <span class="type">xx</span> link
      link = link__#<span class="builtin">jo</span>
   <span class="builtin">jo</span>:
      <span class="type">xx</span> assembly_code__#<span class="builtin">jo</span>
   assembly_code__#<span class="builtin">jo</span>:

      <span class="comment">;; here follows assembly code
</span>      <span class="comment">;; as primitive function body
</span>
   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** dup</span>
<span class="org-block-begin-line">   #+begin_src fasm
</span>   define_primitive_function <span class="string">"dup"</span>, <span class="keyword">dup</span>
      <span class="comment">;; &lt;&lt; a -- a a &gt;&gt;
</span>      pop_argument_stack <span class="variable-name">rax</span>
      push_argument_stack <span class="variable-name">rax</span>
      push_argument_stack <span class="variable-name">rax</span>
      next

   <span class="comment">;; ------------------------------
</span>
   <span class="function-name">name__dup</span>:
      <span class="type">xx</span> current_free_address$string_area
      make_primitive_string <span class="string">"dup"</span>
   <span class="function-name">link__dup</span>:
      <span class="type">xx</span> link
      link = link__dup
   <span class="keyword">dup</span>:
      <span class="type">xx</span> assembly_code__dup
   <span class="function-name">assembly_code__dup</span>:
      <span class="comment">;; &lt;&lt; a -- a a &gt;&gt;
</span>      pop_argument_stack <span class="variable-name">rax</span>
      push_argument_stack <span class="variable-name">rax</span>
      push_argument_stack <span class="variable-name">rax</span>
      next
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-1">* &#38750;&#32032;&#29664;</span>
<span class="org-level-2">** define_function</span>
<span class="org-block-begin-line">   #+begin_src fasm
</span>   <span class="preprocessor">macro</span> <span class="function-name">define_function</span> string, <span class="builtin">jo</span> {

   name__#<span class="builtin">jo</span>:
      <span class="type">xx</span> current_free_address$string_area
      make_primitive_string string
   link__#<span class="builtin">jo</span>:
      <span class="type">xx</span> link
      link = link__#<span class="builtin">jo</span>
   <span class="builtin">jo</span>:
      <span class="type">xx</span> explain$function
      <span class="comment">;; here follows a jojo as function-body
</span>
   }
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** square</span>
<span class="org-block-begin-line">   #+begin_src fasm
</span>   define_function <span class="string">"square"</span>, square
      <span class="comment">;; &lt;&lt; number -- number &gt;&gt;
</span>      <span class="type">xx</span> <span class="keyword">dup</span>
      <span class="type">xx</span> multiple
      <span class="type">xx</span> <span class="keyword">end</span>

   <span class="comment">;; ------------------------------
</span>
   <span class="function-name">name__square</span>:
      <span class="type">xx</span> current_free_address$string_area
      make_primitive_string <span class="string">"square"</span>
   <span class="function-name">link__square</span>:
      <span class="type">xx</span> link
      link = link__square
   <span class="function-name">square</span>:
      <span class="type">xx</span> explain$function
      <span class="comment">;; &lt;&lt; number -- number &gt;&gt;
</span>      <span class="type">xx</span> <span class="keyword">dup</span>
      <span class="type">xx</span> multiple
      <span class="type">xx</span> <span class="keyword">end</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-1">* &#26855; [&#25504;&#36942;]</span>
<span class="org-level-1">* &#20989;&#25976;&#35486;&#32681;&#20043;&#24418;&#25104;</span>
<span class="org-level-2">** &#21443;&#25976;&#26855;&#33287;&#36820;&#22238;&#26855;</span>
   * &#21443;&#25976;&#26855; [argument-stack]
   * &#36820;&#22238;&#26855; [return-stack]
<span class="org-level-2">** &#21443;&#25976;&#20659;&#36958;</span>
   * &#21033;&#29992; &#21443;&#25976;&#26855;
   * &#20320;&#21487;&#20197;&#24819;&#20687;&#27599;&#20491; &#32032;&#20989;&#25976;&#29664;
     &#33021;&#22816;&#24171;&#20320;&#21484;&#21914;&#20986;&#19968;&#20491;&#23567;&#27231;&#22120;&#20154;[&#25110;&#32773;&#23567;&#31934;&#38728;]
     &#20358;&#29234;&#20320;&#20570;&#19968;&#20123;&#35336;&#31639;&#21644;&#25805;&#20316;
   * &#35336;&#31639;&#30340;&#26448;&#26009;&#37117;&#35201;&#24478; &#21443;&#25976;&#26855; &#20013;&#21462; [&#21363;&#20989;&#25976;&#30340;&#21443;&#25976;]
     &#20006;&#19988;&#35336;&#31639;&#30340;&#32080;&#26524;&#20063;&#35201;&#36820;&#22238; &#26855;&#21443;&#25976; &#20013; [&#21363;&#20989;&#25976;&#30340;&#36820;&#22238;&#20540;]
     &#27604;&#22914;
<span class="org-block-begin-line">     #+begin_src return-stack
</span>     <span class="return-stack-jo">(mul)</span> <span class="return-stack-sentence-reader">:</span> <span class="return-stack-word-to-define">&#32032;&#20989;&#25976;&#29664;</span>
          &#23427;&#21484;&#21914;&#20986;&#20358;&#19968;&#20491;&#23567;&#31934;&#38728;
          &#24171;&#20320;&#20570;&#20056;&#27861;

     <span class="return-stack-jo">(dup)</span> <span class="return-stack-sentence-reader">:</span> <span class="return-stack-word-to-define">&#32032;&#20989;&#25976;&#29664;</span>
          &#23427;&#21484;&#21914;&#20986;&#20358;&#19968;&#20491;&#23567;&#31934;&#38728;
          &#20358;&#25226; &#21443;&#25976;&#26855; &#38914;&#37096;&#30340;&#25976;&#35079;&#35069;&#19968;&#19979;

     <span class="return-stack-jo">(square)</span> <span class="return-stack-sentence-reader">:</span> <span class="return-stack-word-to-define">&#35079;&#21512;&#20989;&#25976;&#29664;</span>
          &#22240;&#29234;&#23427;&#26159;&#34987;&#20998;&#35299;&#25104;
          &#19978;&#38754;&#30340;&#20841;&#20491; &#32032;&#20989;&#25976; &#30340;&#35079;&#21512;&#30340;
<span class="org-block-end-line">     #+end_src
</span>   * &#36889;&#27171; &#21443;&#25976;&#26855; &#23601;&#25104;&#20102; &#23567;&#31934;&#38728;&#20497; &#20659;&#36958;&#35336;&#31639;&#32080;&#26524;&#30340;&#22580;&#25152;
     &#19968;&#20491; &#23567;&#31934;&#38728; &#35336;&#31639;&#25104;&#26524;
     &#21487;&#20197;&#34987;&#20316;&#29234; &#21478;&#19968;&#20491; &#23567;&#31934;&#38728; &#30340;&#21443;&#25976;
<span class="org-level-2">** &#20989;&#25976;&#30340; &#23884;&#22871;&#23450;&#32681; &#33287; &#23884;&#22871;&#35519;&#29992; &#29992; next &#21644; explain$function &#23526;&#29694;</span>
<span class="org-level-3">*** next</span>
<span class="org-block-begin-line">    #+begin_src fasm
</span>    <span class="preprocessor">macro</span> <span class="function-name">next</span> {
       pop_return_stack <span class="variable-name">rbx</span>
         <span class="builtin">mov</span> <span class="variable-name">rax</span>, [<span class="variable-name">rbx</span>]
       <span class="builtin">add</span> <span class="variable-name">rbx</span>, cell_size
       push_return_stack <span class="variable-name">rbx</span>
         <span class="builtin">jmp</span> <span class="type">dword</span> [<span class="variable-name">rax</span>]
    }
<span class="org-block-end-line">    #+end_src
</span><span class="org-level-3">*** explain$function</span>
    * find a jojo from a function-jo
      and push the jojo to return-stack
    * use rax as an argument
      which stores a jo
<span class="org-block-begin-line">    #+begin_src fasm
</span>    <span class="function-name">explain$function</span>:
       <span class="builtin">add</span> <span class="variable-name">rax</span>, cell_size
       push_return_stack <span class="variable-name">rax</span>
       next
<span class="org-block-end-line">    #+end_src
</span><span class="org-level-2">** &#20989;&#25976;&#30340; &#23884;&#22871;&#23450;&#32681; &#33287; &#23884;&#22871;&#35519;&#29992; &#30340;&#25277;&#35937;&#25551;&#36848;</span>
   * &#20320;&#21487;&#20197;&#25226; &#36820;&#22238;&#26855; return-stack &#24819;&#20687;&#25104;&#19968;&#20491;&#37444;&#26829;&#23376;
     &#26829;&#23376;&#20018;&#30528;&#19968;&#28316;&#22280;&#23376;
<span class="org-block-begin-line">     #+begin_src return-stack
</span>     <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">.</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">.</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">.</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">.</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">.</span> <span class="return-stack-bar-ket">]</span>
<span class="org-block-end-line">     #+end_src
</span>     &#22280;&#23376;&#19978;&#21487;&#20197;&#21345;&#29664;&#23376;
     &#19968;&#20018;&#29664;&#23376;&#20013;&#30340;&#26576;&#20491;&#29664;&#23376; &#21487;&#20197;&#34987;&#21345;&#22312;&#26829;&#23376;&#30340;&#22280;&#23376;&#19978;
<span class="org-block-begin-line">     #+begin_src return-stack
</span>                               <span class="return-stack-jo">(666)</span>
         <span class="return-stack-jo">(22)</span>                  <span class="return-stack-jo">(666)</span>
     <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(22)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(33)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(666)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">.</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">.</span> <span class="return-stack-bar-ket">]</span>
         <span class="return-stack-jo">(22)</span>       <span class="return-stack-jo">(33)</span>
         <span class="return-stack-jo">(22)</span>       <span class="return-stack-jo">(33)</span>
                    <span class="return-stack-jo">(33)</span>
<span class="org-block-end-line">     #+end_src
</span>   * &#21482;&#35201;&#25226;&#19968;&#20018;&#29664;&#23376;&#25918;&#21040;&#36820;&#22238;&#26855;&#35023;
     &#28982;&#24460;&#21843;&#21205; &#32218;&#20018;&#30908;&#35299;&#37323;&#22120;
     &#23601;&#33021;&#24418;&#25104;&#20989;&#25976; &#35519;&#29992; &#33287; &#36820;&#22238; &#30340;&#35486;&#32681;&#20102;
   * &#27604;&#22914;&#19979;&#38754;&#30340;&#20363;&#23376;&#25152;&#23637;&#31034;&#30340;
<span class="org-level-3">*** at the beginning</span>
    * argument-stack
      &lt;&lt; 2 &gt;&gt;
    * return-stack
<span class="org-block-begin-line">      #+begin_src return-stack
</span>      <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(square)</span> <span class="return-stack-bar-ket">]</span>
          <span class="return-stack-jo">(square)</span>
          <span class="return-stack-end">(end)</span>
<span class="org-block-end-line">      #+end_src
</span><span class="org-level-3">*** next (1)</span>
    * argument-stack
      &lt;&lt; 2 &gt;&gt;
    * return-stack
<span class="org-block-begin-line">      #+begin_src return-stack
</span>          <span class="return-stack-jo">(square)</span>
      <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(square)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(dup)</span> <span class="return-stack-bar-ket">]</span>
          <span class="return-stack-end">(end)</span>          <span class="return-stack-jo">(mul)</span>
                         <span class="return-stack-end">(end)</span>
<span class="org-block-end-line">      #+end_src
</span><span class="org-level-3">*** next (2)</span>
    * argument-stack
      &lt;&lt; 2, 2 &gt;&gt;
    * return-stack
<span class="org-block-begin-line">      #+begin_src return-stack
</span>          <span class="return-stack-jo">(square)</span>       <span class="return-stack-jo">(dup)</span>
      <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(square)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(mul)</span> <span class="return-stack-bar-ket">]</span>
          <span class="return-stack-end">(end)</span>          <span class="return-stack-end">(end)</span>
<span class="org-block-end-line">      #+end_src
</span><span class="org-level-3">*** next (3)</span>
    * argument-stack &lt;&lt; 4 &gt;&gt;
    * return-stack
<span class="org-block-begin-line">      #+begin_src return-stack
</span>                         <span class="return-stack-jo">(dup)</span>
          <span class="return-stack-jo">(square)</span>       <span class="return-stack-jo">(mul)</span>
      <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(square)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-end">(end)</span> <span class="return-stack-bar-ket">]</span>
          <span class="return-stack-end">(end)</span>
<span class="org-block-end-line">      #+end_src
</span><span class="org-level-3">*** next (4)</span>
    * argument-stack &lt;&lt; 4 &gt;&gt;
    * return-stack
<span class="org-block-begin-line">      #+begin_src return-stack
</span>          <span class="return-stack-jo">(square)</span>
      <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(square)</span> <span class="return-stack-bar-ket">]</span>
          <span class="return-stack-end">(end)</span>
<span class="org-block-end-line">      #+end_src
</span><span class="org-level-3">*** next (5)</span>
    * argument-stack &lt;&lt; 4 &gt;&gt;
    * return-stack
<span class="org-block-begin-line">      #+begin_src return-stack
</span>          <span class="return-stack-jo">(square)</span>
          <span class="return-stack-jo">(square)</span>
      <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-end">(end)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(dup)</span> <span class="return-stack-bar-ket">]</span>
                      <span class="return-stack-jo">(mul)</span>
                      <span class="return-stack-end">(end)</span>
<span class="org-block-end-line">      #+end_src
</span><span class="org-level-3">*** next (6)</span>
    * argument-stack
      &lt;&lt; 4, 4 &gt;&gt;
    * return-stack
<span class="org-block-begin-line">      #+begin_src return-stack
</span>          <span class="return-stack-jo">(square)</span>
          <span class="return-stack-jo">(square)</span>    <span class="return-stack-jo">(dup)</span>
      <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-end">(end)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-the-jo">(mul)</span> <span class="return-stack-bar-ket">]</span>
                      <span class="return-stack-end">(end)</span>
<span class="org-block-end-line">      #+end_src
</span><span class="org-level-3">*** next (7)</span>
    * argument-stack
      &lt;&lt; 16 &gt;&gt;
    * return-stack
<span class="org-block-begin-line">      #+begin_src return-stack
</span>          <span class="return-stack-jo">(square)</span>    <span class="return-stack-jo">(dup)</span>
          <span class="return-stack-jo">(square)</span>    <span class="return-stack-jo">(mul)</span>
      <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-end">(end)</span> <span class="return-stack-bar-ket">]</span> <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-end">(end)</span> <span class="return-stack-bar-ket">]</span>
<span class="org-block-end-line">      #+end_src
</span><span class="org-level-3">*** next (8)</span>
    * argument-stack
      &lt;&lt; 16 &gt;&gt;
    * return-stack
<span class="org-block-begin-line">      #+begin_src return-stack
</span>          <span class="return-stack-jo">(square)</span>
          <span class="return-stack-jo">(square)</span>
      <span class="return-stack-line">-</span> <span class="return-stack-bar-ket">[</span> <span class="return-stack-end">(end)</span> <span class="return-stack-bar-ket">]</span>
<span class="org-block-end-line">      #+end_src
</span><span class="org-level-3">*** next (9)</span>
    * argument-stack
      &lt;&lt; 16 &gt;&gt;
    * return-stack
<span class="org-block-begin-line">      #+begin_src return-stack
</span>      <span class="return-stack-line">-</span> [  ]
<span class="org-block-end-line">      #+end_src
</span>    * it is really simple
      ^-^
      is it not ?
<span class="org-level-1">* ===================================</span>
</pre>
  </body>
</html>
