---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>cicada-nymph.org</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    <!--
      body {
        color: #f8f8f0;
        background-color: #1b1d1e;
      }
      .bold {
        /* bold */
        font-weight: bold;
      }
      .builtin {
        /* font-lock-builtin-face */
        color: #a6e22e;
      }
      .cicada-nymph-allocate {
        /* cicada-nymph-allocate-face */
        color: #AE7C3B;
        font-weight: bold;
      }
      .cicada-nymph-comment {
        /* cicada-nymph-comment-face */
        color: #FF8888;
      }
      .cicada-nymph-define-function {
        /* cicada-nymph-define-function-face */
        color: #ae81ff;
        font-weight: bold;
      }
      .cicada-nymph-define-variable {
        /* cicada-nymph-define-variable-face */
        color: #a1ab3a;
        font-weight: bold;
      }
      .cicada-nymph-end {
        /* cicada-nymph-end-face */
        color: #00ffff;
        font-weight: bold;
      }
      .cicada-nymph-fetch-local-variable-1 {
        /* cicada-nymph-fetch-local-variable-1-face */
        color: #83EA83;
        font-weight: bold;
      }
      .cicada-nymph-fetch-local-variable-2 {
        /* cicada-nymph-fetch-local-variable-2-face */
        color: #5CDD5C;
        font-weight: bold;
      }
      .cicada-nymph-function-to-define {
        /* cicada-nymph-function-to-define-face */
        color: #ef5939;
        font-weight: bold;
      }
      .cicada-nymph-number {
        /* cicada-nymph-number-face */
        color: #fd971f;
        font-weight: bold;
      }
      .cicada-nymph-number-light {
        /* cicada-nymph-number-light-face */
        color: #ffff00;
      }
      .cicada-nymph-save-local-variable-1 {
        /* cicada-nymph-save-local-variable-1-face */
        color: #FF4C4C;
        font-weight: bold;
      }
      .cicada-nymph-save-local-variable-2 {
        /* cicada-nymph-save-local-variable-2-face */
        color: #dc322f;
        font-weight: bold;
      }
      .cicada-nymph-sentence-reader {
        /* cicada-nymph-sentence-reader-face */
        color: #ffff00;
        font-weight: bold;
      }
      .cicada-nymph-string {
        /* cicada-nymph-string-face */
        color: #e6db74;
      }
      .cicada-nymph-syntax-key-word {
        /* cicada-nymph-syntax-key-word-face */
        color: #f92672;
        font-weight: bold;
      }
      .cicada-nymph-title {
        /* cicada-nymph-title-face */
        color: #ffffff;
        font-weight: bold;
      }
      .cicada-nymph-variable {
        /* cicada-nymph-variable-face */
        color: #fd971f;
        font-weight: bold;
      }
      .comment {
        /* font-lock-comment-face */
        color: #FF8888;
      }
      .constant {
        /* font-lock-constant-face */
        color: #ae81ff;
      }
      .default {
        /* default */
        color: #f8f8f0;
        background-color: #1b1d1e;
      }
      .function-name {
        /* font-lock-function-name-face */
        color: #a6e22e;
      }
      .keyword {
        /* font-lock-keyword-face */
        color: #f92672;
        font-weight: bold;
      }
      .org-block {
        /* org-block */
        color: #b3b3b3;
      }
      .org-block-begin-line {
        /* org-block-begin-line */
        color: #FF8888;
      }
      .org-block-end-line {
        /* org-block-end-line */
        color: #FF8888;
      }
      .org-document-info {
        /* org-document-info */
        color: #afeeee;
      }
      .org-document-info-keyword {
        /* org-document-info-keyword */
        color: #b3b3b3;
      }
      .org-document-title {
        /* org-document-title */
        color: #afeeee;
        font-weight: bold;
      }
      .org-done {
        /* org-done */
        color: #98fb98;
        font-weight: bold;
      }
      .org-level-1 {
        /* org-level-1 */
        color: #a6e22e;
      }
      .org-level-2 {
        /* org-level-2 */
        color: #fd971f;
      }
      .org-special-keyword {
        /* org-special-keyword */
        color: #f92672;
        font-weight: bold;
      }
      .org-table {
        /* org-table */
        color: #87cefa;
      }
      .org-tag {
        /* org-tag */
        font-weight: bold;
      }
      .org-todo {
        /* org-todo */
        color: #ffc0cb;
        font-weight: bold;
      }
      .preprocessor {
        /* font-lock-preprocessor-face */
        color: #a6e22e;
      }
      .return-stack-bar-ket {
        /* return-stack-bar-ket-face */
        color: #dc322f;
        font-weight: bold;
      }
      .return-stack-end {
        /* return-stack-end-face */
        color: #00ffff;
        font-weight: bold;
      }
      .return-stack-jo {
        /* return-stack-jo-face */
        color: #ef5939;
        font-weight: bold;
      }
      .return-stack-line {
        /* return-stack-line-face */
        color: #ae81ff;
        font-weight: bold;
      }
      .return-stack-the-jo {
        /* return-stack-the-jo-face */
        color: #fd971f;
        font-weight: bold;
      }
      .string {
        /* font-lock-string-face */
        color: #e6db74;
      }
      .type {
        /* font-lock-type-face */
        color: #66d9ef;
        font-weight: bold;
      }
      .variable-name {
        /* font-lock-variable-name-face */
        color: #fd971f;
      }

      a {
        color: inherit;
        background-color: inherit;
        font: inherit;
        text-decoration: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
    -->
    </style>
{% include in-org-head.html %}
  </head>
  <body>
    {% include before-pre.html %}
<pre>
<span class="org-document-info-keyword">#+TITLE:</span>  <span class="org-document-title">&#23567;&#34796; / cicada-nymph
</span><span class="org-document-info-keyword">#+AUTHOR:</span> <span class="org-document-info">&#35613;&#23431;&#24646; / XIE Yuheng
</span><span class="org-document-info-keyword">#+EMAIL:</span>  <span class="org-document-info">xyheme@gmail.com
</span>
<span class="org-level-1">* </span><span class="org-done">todo</span>
<span class="org-level-2">** add length field into jo in assembly code </span><span class="org-level-2"><span class="org-tag">:maybe:</span></span>
<span class="org-level-2">** optimize local-variable by new instruction </span><span class="org-level-2"><span class="org-tag">:maybe:</span></span>...
<span class="org-level-1">* ===================================</span>
<span class="org-level-1">* </span><span class="org-todo">note</span>
<span class="org-level-2">** notation</span>...
<span class="org-level-2">** jo &amp; jojo</span>...
<span class="org-level-2">** naming convention</span>...
<span class="org-level-2">** convention in assembly code</span>...
<span class="org-level-2">** convention in cicada-nymph code</span>...
<span class="org-level-2">** syntax of cicada-nymph</span>...
<span class="org-level-2">** unique id</span>...
<span class="org-level-1">* </span><span class="org-todo">note</span><span class="org-level-1"> problem</span>
<span class="org-level-2">** memory                             </span><span class="org-level-2"><span class="org-tag">:limit:</span></span>...
<span class="org-level-2">** reading-stack                      </span><span class="org-level-2"><span class="org-tag">:limit:</span></span>...
<span class="org-level-2">** div                                </span><span class="org-level-2"><span class="org-tag">:bug:</span></span>...
<span class="org-level-2">** stack                              </span><span class="org-level-2"><span class="org-tag">:limit:</span></span>...
<span class="org-level-2">** string-reverse!                    </span><span class="org-level-2"><span class="org-tag">:bug:</span></span>...
<span class="org-level-1">* ===================================</span>
<span class="org-level-1">* prolog</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> conditional preprocessing</span>...
<span class="org-level-2">** platform configuration</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** misc</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** jo_size                            </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** jo_size                            </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** header                             </span><span class="org-level-2"><span class="org-tag">:64bit:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** format                             </span><span class="org-level-2"><span class="org-tag">:64bit:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** entry                              </span><span class="org-level-2"><span class="org-tag">:64bit:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** header                             </span><span class="org-level-2"><span class="org-tag">:32bit:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** format                             </span><span class="org-level-2"><span class="org-tag">:32bit:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** entry                              </span><span class="org-level-2"><span class="org-tag">:32bit:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** memory allocation in un_initialized_memory</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* </span><span class="org-todo">note</span><span class="org-level-1"> stack</span>...
<span class="org-level-1">* argument-stack</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** pointer                            </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** push &amp; pop                         </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** pointer                            </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** push &amp; pop                         </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* return-stack</span>
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span>...
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** pointer                            </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** push &amp; pop                         </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** pointer                            </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** push &amp; pop                         </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-1">* next</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-todo">note</span><span class="org-level-1"> play with jo &amp; jojo</span>...
<span class="org-level-1">* </span><span class="org-todo">note</span><span class="org-level-1"> jo</span>...
<span class="org-level-1">* offset of jo</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-todo">note</span><span class="org-level-1"> link</span>...
<span class="org-level-1">* offset of link</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* null link</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*string-area*</span></span>
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ASSEMBLY__length_string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ASSEMBLY__make_string</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* function-jo</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** define_function</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** explain$function</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* primitive-function-jo</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** define_primitive_function</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* variable-jo</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** define_variable</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** explain$variable                   </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** explain$variable                   </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-1">* jo</span>
<span class="org-level-2">** apply</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*jo-size*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** jo-&gt;explainer</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** jo-&gt;length</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** jo,set-length</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** jo-&gt;body</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** primitive-function-jo?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** function-jo?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** variable-jo?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** variable-jo-&gt;address</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* string-area</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> interface</span>...
<span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*string-area*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-area,stay</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** make-string</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* return-stack &amp; end &amp; tail-call</span>
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#32080;&#23614;&#29664;</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> return-point</span>...
<span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*return-stack,unit*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#25554; &#29664;&#29664; &#20154;&#36820;&#22238;&#26855; &#21040;&#26576;&#29664;&#29664;&#30340;&#21069;&#38754; [&#31561;&#25928;&#26367;&#25563;&#27861; &#20197;&#29702;&#35299;]</span>...
<span class="org-level-2">** return-stack,insert-jo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** get-return-stack-pointer</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** apply-with-return-point</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** end</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** tail-call</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> explicit tail call in action</span>...
<span class="org-level-1">* helper function in assembly code</span>
<span class="org-level-2">** __exit_with_tos                    </span><span class="org-level-2"><span class="org-tag">:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __exit_with_zero                   </span><span class="org-level-2"><span class="org-tag">:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __exit_with_six                    </span><span class="org-level-2"><span class="org-tag">:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __write_string                     </span><span class="org-level-2"><span class="org-tag">:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __reset_argument_stack             </span><span class="org-level-2"><span class="org-tag">:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __reset_return_stack               </span><span class="org-level-2"><span class="org-tag">:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __reset_syntax_stack               </span><span class="org-level-2"><span class="org-tag">:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __reset_local_jo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __reset_local_byte</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*the-story-begin*</span></span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#21295;&#32232;&#20195;&#30908;&#20013;&#30340;&#21021;&#22987;&#21270;</span>...
<span class="org-level-2">** begin_to_interpret_threaded_code   </span><span class="org-level-2"><span class="org-tag">:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** initialization</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> top-level-REPL</span>...
<span class="org-level-2">** report-return-stack-is-empty-and-exit</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** reset-top-level-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** exit_with_TOS a.k.a. bye</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** little_test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* instruction</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> side-effect</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> naming</span>...
<span class="org-level-2">** literal</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** address</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** branch</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** false?branch</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* the stack</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** drop</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** dup                                </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** dup                                </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** over                               </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** over                               </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** tuck</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** swap</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** address</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** pointer</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** set-argument-stack-pointer</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* bool</span>
<span class="org-level-2">** false &amp; true</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** false? &amp; true?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** and &amp; or &amp; not &amp; xor</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* fixnum</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** zero &amp; one</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** zero? &amp; one?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** add &amp; sub                          </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** add &amp; sub                          </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** mul</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** negate</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** power</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** div &amp; mod</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** equal? &amp; greater-than? &amp; less-than?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** equal2?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** negative? &amp; positive?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** within?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* memory</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> get &amp; set</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> endianness of n-get &amp; n-set</span>...
<span class="org-level-2">** get                                </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** set                                </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** get                                </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** set                                </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** clear</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* bit</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** or &amp; and &amp; xor &amp; invert            </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** or &amp; and &amp; xor &amp; invert            </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** left &amp; right[,sign]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** get &amp; set &amp; clear &amp; invert</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** find-[lowest|highest]-set-bit</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* write-byte</span>
<span class="org-level-2">** write-byte                         </span><span class="org-level-2"><span class="org-tag">:64bit:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** write-byte                         </span><span class="org-level-2"><span class="org-tag">:32bit:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-1">* reading-stack</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** push &amp; pop &amp; drop                  </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** push &amp; pop &amp; drop                  </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** tos</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** reading-stack-empty?</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* read-byte</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> end of file</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> factoring</span>...
<span class="org-level-2">** read-line-from-stdin               </span><span class="org-level-2"><span class="org-tag">:64bit:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-line-from-stdin               </span><span class="org-level-2"><span class="org-tag">:32bit:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span><span class="org-level-2"> read-line-from-stdin</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-byte</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* load-core-file</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* byte</span>
<span class="org-level-2">** space-byte?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** bar-ket-byte?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** digit-byte?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** digit-byte-&gt;number &amp; number-&gt;digit-byte</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* buffer</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** compare-buffer</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** cursor-&gt;next-matching-byte</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* string</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> io about string</span>
<span class="org-level-2">** write-string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** pretty_write_string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** empty-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-equal?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string,byte</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string,byte-tail</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string,byte-back</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** string-&gt;buffer!</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-reverse!                    </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-reverse!                    </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** one-byte-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** zero-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** digit-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** integer-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** digit-string-&gt;number</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-&gt;integer</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** string,find-byte</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-end,byte</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** space-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string,word-begin</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string,word-end</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string,word</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string,word-tail</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* write number</span>
<span class="org-level-2">** write-number</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** write-integer</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** pretty_write_integer</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* word</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> io about word</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> bar-ket</span>...
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-word-&gt;buffer</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-word</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* link</span>
<span class="org-level-2">** last-link?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** link-&gt;next-link</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** link-&gt;name-string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** link-&gt;jo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** link,set-jo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*link*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> about find</span>...
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#36941;&#27511;&#37832;&#34920;&#30340;&#26041;&#24335;</span>...
<span class="org-level-2">** find-link</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* basic-REPL</span>
<span class="org-level-2">** eval-word</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** basic-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* colon semicolon</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** [colon|semicolon]-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** comment-[begin|end]-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** colon &amp; semicolon</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ignore-comment</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* jojo-area</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** jojo-area,stay</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* make-link</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* make-jo-head</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* syntax-stack</span>
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span>...
<span class="org-level-2">** memory allocate</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** push-syntax-stack</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** pop-syntax-stack</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** tos-syntax-stack</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** drop-syntax-stack</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax-stack-empty?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** find-syntax</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* rule-set</span>
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#20351;&#29992;</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> border</span>...
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> interface</span>...
<span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*rule,unit*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** rule,get-predicate</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** rule,get-function</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** rule,get</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** rule-set,get-border</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** rule-set,set-border</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** rule,add</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** rule-set,find</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,make-jojo*</span></span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** syntax,integer-string,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** word:address?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,address,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** word:jo?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,jo,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** word:double-quote?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,double-quote,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** syntax,comment,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*rule-set,make-jojo*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** init,rule-set,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* make-jojo</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** make-jojo,dispatch-word</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* define-function</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** define-function</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span><span class="org-level-2"> double-quote</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* define-variable,with-tos</span>
<span class="org-level-2">** define-variable,with-tos</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-todo">&#35352;</span><span class="org-level-1"> &#26377;&#21517;&#23383;&#30340;&#23616;&#37096;&#35722;&#37327; &#33287; &#35722;&#38263;&#30340;&#23616;&#37096;&#25976;&#25818;</span>...
<span class="org-level-1">* </span><span class="org-todo">&#35352;</span><span class="org-level-1"> &#20877;&#22686;&#21152;&#23616;&#37096;&#35722;&#20803;&#25903;&#25345;&#20043;&#24460; &#38656;&#35201;&#37325;&#23531;&#30340;&#37096;&#20998;</span>
<span class="org-level-2">** &#35438;&#37323;&#32773; &#33287; &#25910;&#23614;&#35422;</span>...
<span class="org-level-2">** &#35486;&#27861;&#25844;&#23637;&#26041;&#38754;&#30340;&#25903;&#25345;</span>...
<span class="org-level-1">* </span><span class="org-todo">&#35352;</span><span class="org-level-1"> &#32317;&#32080;</span>
<span class="org-level-2">** interface</span>...
<span class="org-level-2">** &#35486;&#32681;&#29305;&#40670;&#32317;&#32080;</span>...
<span class="org-level-2">** &#35486;&#29992;&#29305;&#40670;&#32317;&#32080;</span>...
<span class="org-level-1">* </span><span class="org-todo">&#35352;</span><span class="org-level-1"> &#38364;&#26044;&#20998;&#25903;&#32080;&#27083;</span>...
<span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*local-jo*</span></span>
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#27880;&#24847;&#32080;&#23614;&#35422;&#26371;&#21021;&#22987;&#21270;&#23616;&#37096;&#35722;&#37327;&#25351;&#37341;</span>...
<span class="org-level-2">** local_data_allocate__jo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> many get &amp; set</span>...
<span class="org-level-2">** [n-get|n-set],local-jo             </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** [n-get|n-set],local-jo             </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> example result</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span><span class="org-level-2"> nested call</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-todo">&#35352;</span><span class="org-level-1"> &#21839;&#38988;</span>
<span class="org-level-2">** nested block</span>...
<span class="org-level-2">** branch</span>...
<span class="org-level-1">* local-variable-table</span>
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span>...
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#25509;&#21475;</span>...
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** local-variable-table,clear</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** local-variable-table,insert</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** local-variable-table,find</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** count-front-colon</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* two syntaxes</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** local-variable-get-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,local-variable-get,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** local-variable-set-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,local-variable-set,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*local-byte*</span></span>
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span>...
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#20351;&#29992;</span>...
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** allocate-local-memory</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* syscall</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** string-&gt;syscall-string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-&gt;syscall-string-2</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syscall                            </span><span class="org-level-2"><span class="org-tag">:64bit:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syscall                            </span><span class="org-level-2"><span class="org-tag">:32bit:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-1">* epilog</span>
<span class="org-level-2">** constant</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** platform</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*un-initialized-memory*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*string-area,current-free-address*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** the_last_link_in_assembly_code</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** un_initialized_memory              </span><span class="org-level-2"><span class="org-tag">:linux:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-1">* ===================================</span>
</pre>
  </body>
</html>
