---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>cicada-nymph.org</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    <!--
      body {
        color: #f8f8f0;
        background-color: #1b1d1e;
      }
      .bold {
        /* bold */
        font-weight: bold;
      }
      .builtin {
        /* font-lock-builtin-face */
        color: #a6e22e;
      }
      .cicada-nymph-comment {
        /* cicada-nymph-comment-face */
        color: #FF8888;
      }
      .cicada-nymph-end {
        /* cicada-nymph-end-face */
        color: #00ffff;
        font-weight: bold;
      }
      .cicada-nymph-lexicographer {
        /* cicada-nymph-lexicographer-face */
        color: #ae81ff;
        font-weight: bold;
      }
      .cicada-nymph-number {
        /* cicada-nymph-number-face */
        color: #fd971f;
        font-weight: bold;
      }
      .cicada-nymph-sentence-reader {
        /* cicada-nymph-sentence-reader-face */
        color: #ffff00;
        font-weight: bold;
      }
      .cicada-nymph-syntax-key-word {
        /* cicada-nymph-syntax-key-word-face */
        color: #f92672;
        font-weight: bold;
      }
      .cicada-nymph-variable {
        /* cicada-nymph-variable-face */
        color: #fd971f;
      }
      .cicada-nymph-word-to-define {
        /* cicada-nymph-word-to-define-face */
        color: #ef5939;
        font-weight: bold;
      }
      .comment {
        /* font-lock-comment-face */
        color: #FF8888;
      }
      .constant {
        /* font-lock-constant-face */
        color: #ae81ff;
      }
      .default {
        /* default */
        color: #f8f8f0;
        background-color: #1b1d1e;
      }
      .function-name {
        /* font-lock-function-name-face */
        color: #a6e22e;
      }
      .keyword {
        /* font-lock-keyword-face */
        color: #f92672;
        font-weight: bold;
      }
      .org-block {
        /* org-block */
        color: #b3b3b3;
      }
      .org-block-begin-line {
        /* org-block-begin-line */
        color: #FF8888;
      }
      .org-block-end-line {
        /* org-block-end-line */
        color: #FF8888;
      }
      .org-document-info {
        /* org-document-info */
        color: #afeeee;
      }
      .org-document-info-keyword {
        /* org-document-info-keyword */
        color: #b3b3b3;
      }
      .org-document-title {
        /* org-document-title */
        color: #afeeee;
        font-weight: bold;
      }
      .org-done {
        /* org-done */
        color: #98fb98;
        font-weight: bold;
      }
      .org-level-1 {
        /* org-level-1 */
        color: #a6e22e;
      }
      .org-level-2 {
        /* org-level-2 */
        color: #fd971f;
      }
      .org-level-3 {
        /* org-level-3 */
        color: #f92672;
        font-weight: bold;
      }
      .org-link {
        /* org-link */
        color: #00ffff;
        text-decoration: underline;
      }
      .org-table {
        /* org-table */
        color: #87cefa;
      }
      .org-todo {
        /* org-todo */
        color: #ffc0cb;
        font-weight: bold;
      }
      .preprocessor {
        /* font-lock-preprocessor-face */
        color: #a6e22e;
      }
      .return-stack-bar-ket {
        /* return-stack-bar-ket-face */
        color: #dc322f;
        font-weight: bold;
      }
      .return-stack-end {
        /* return-stack-end-face */
        color: #00ffff;
        font-weight: bold;
      }
      .return-stack-jo {
        /* return-stack-jo-face */
        color: #ef5939;
        font-weight: bold;
      }
      .return-stack-line {
        /* return-stack-line-face */
        color: #ae81ff;
        font-weight: bold;
      }
      .return-stack-the-jo {
        /* return-stack-the-jo-face */
        color: #fd971f;
        font-weight: bold;
      }
      .string {
        /* font-lock-string-face */
        color: #e6db74;
      }
      .type {
        /* font-lock-type-face */
        color: #66d9ef;
        font-weight: bold;
      }
      .variable-name {
        /* font-lock-variable-name-face */
        color: #fd971f;
      }

      a {
        color: inherit;
        background-color: inherit;
        font: inherit;
        text-decoration: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
    -->
    </style>
{% include in-org-head.html %}
  </head>
  <body>
    {% include before-pre.html %}
<pre>
<span class="org-document-info-keyword">#+TITLE:</span>  <span class="org-document-title">&#23567;&#34796;&#35486; / cicada-nymph
</span><span class="org-document-info-keyword">#+AUTHOR:</span> <span class="org-document-info">&#35613;&#23431;&#24646; / XIE Yuheng
</span><span class="org-document-info-keyword">#+EMAIL:</span>  <span class="org-document-info">xyheme@gmail.com
</span>
<span class="org-level-1">* </span><span class="org-done">todo</span>
<span class="org-level-2">** [really needed] little tester</span>
<span class="org-level-2">** error handling of load-file</span>...
<span class="org-level-2">** nested load-file</span>...
<span class="org-level-2">** [maybe] make instruction a type of jo</span>...
<span class="org-level-2">** re-generate instars</span>
<span class="org-level-1">* ===================================</span>
<span class="org-level-1">* </span><span class="org-todo">note</span>
<span class="org-level-2">** jo &amp; jojo</span>...
<span class="org-level-2">** naming convention</span>...
<span class="org-level-2">** convention in assembly code</span>...
<span class="org-level-2">** convention in cicada-nymph code</span>...
<span class="org-level-2">** syntax of cicada-nymph</span>...
<span class="org-level-2">** unique id</span>...
<span class="org-level-2">** different from the re-designed cicada-language</span>...
<span class="org-level-1">* ===================================</span>
<span class="org-level-1">* prolog</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> conditional preprocessing</span>...
<span class="org-level-2">** platform configuration</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** misc</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** jo_size [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** jo_size [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** header [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** format [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** entry  [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** header [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** format [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** entry  [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> calling convention</span>...
<span class="org-level-2">** header [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** format [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** entry  [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** macro  [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> calling convention</span>...
<span class="org-level-2">** header [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** format [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** entry  [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** memory allocation in un_initialized_memory</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* </span><span class="org-todo">note</span><span class="org-level-1"> stack</span>...
<span class="org-level-1">* argument_stack</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** pointer    [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** push &amp; pop [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** pointer    [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** push &amp; pop [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* return_stack</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** pointer    [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** push &amp; pop [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** pointer    [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** push &amp; pop [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* next</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-todo">note</span><span class="org-level-1"> play with jo &amp; jojo</span>...
<span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* helper function in assembly code</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** __exit_with_TOS  [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __exit_with_zero [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __exit_with_six  [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** __exit_with_TOS  [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __exit_with_zero [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __exit_with_six  [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** __exit_with_TOS  [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __exit_with_zero [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __exit_with_six  [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** __exit_with_TOS  [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __exit_with_zero [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** __exit_with_six  [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* macro for jo &amp; explainer</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** link</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> primitive_string_heap</span>
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** make_primitive_string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** define_function</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** explain$function</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** define_primitive_function</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** define_variable</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** explain$variable</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*primitive-string-heap*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* macro for make-jojo</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** define_macro</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** explain$macro</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** define_exception</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> return-stack in action</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> the plan</span>...
<span class="org-level-2">** explain$exception [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** explain$exception [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* execute-jo &amp; structure of jo</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** execute-jo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*jo-size*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** jo-&gt;name</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** jo-&gt;link</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** last-jo,dictionary?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** jo-&gt;pre-jo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** jo-&gt;type</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* type of jo</span>
<span class="org-level-2">** primitive-function-jo?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** function-jo?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** macro-jo?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** exception-jo?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** variable-jo?</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* end &amp; taca</span>
<span class="org-level-2">** end</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** taca</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> explicit tail call in action</span>...
<span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*the story begin*</span></span>
<span class="org-level-2">** begin_to_interpret_threaded_code [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** begin_to_interpret_threaded_code [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** begin_to_interpret_threaded_code [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** begin_to_interpret_threaded_code [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** first_jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** welcome</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** exit_with_TOS a.k.a. bye</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** little_test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* the stack</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** drop</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** dup  [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** dup  [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** over [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** over [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** tuck</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** swap [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** swap [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* instruction</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> side-effect</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> naming</span>...
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** literal</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** address</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** branch</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** false?branch</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> return-stack in action</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** prepare_for [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** prepare_for [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** end_of_prepare</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** exception_head</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* bool</span>
<span class="org-level-2">** false &amp; true</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** false? &amp; true?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** bitwise operations [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** bitwise operations [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* fixnum</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** zero &amp; one</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** zero? &amp; one?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** add &amp; sub [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** add &amp; sub [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** mul</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** negate</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** power</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** div &amp; mod</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** equal? &amp; greater-than? &amp; less-than?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** negative? &amp; positive?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* memory</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** save  [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** fetch [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** save  [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** fetch [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* basic io</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> byte</span>...
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** write-byte [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** write-byte [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** write-byte [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** write-byte [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> factoring</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> nested call of eval-string</span>...
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** eval_string_stack</span>
<span class="org-level-3">*** </span><span class="org-todo">note</span>...
<span class="org-level-3">*** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-3">*** pointer</span>...<span class="org-block-end-line">
</span><span class="org-level-3">*** push &amp; pop [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-3">*** push &amp; pop [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-3">*** clear [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-3">*** clear [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-3">*** empty?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-line-from-stdin [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-line-from-stdin [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-line-from-stdin [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-line-from-stdin [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span><span class="org-level-2"> read-line-from-stdin</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-byte</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** unread-ket-char</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* eval-string</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* file io</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** open-file,to-read  [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** open-file,to-write [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** close-file         [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-file          [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** write-file         [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** open-file,to-read  [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** open-file,to-write [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** close-file         [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-file          [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** write-file         [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** header             [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** open-file,to-read  [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** open-file,to-write [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** close-file         [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-file          [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** write-file         [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** header             [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** open-file,to-read  [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** open-file,to-write [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** close-file         [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-file          [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** write-file         [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* load-file</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* load-init-file</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* char</span>
<span class="org-level-2">** space-char?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** bar-ket-char?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** decimal-digital-char?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> digital</span>...
<span class="org-level-2">** char-&gt;decimal-digital &amp; decimal-digital-&gt;char</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* buffer</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** compare-buffer</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* string</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> io about string</span>
<span class="org-level-2">** write-string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** pretty_write_string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** string-equal?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-[head|tail],char</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-&gt;buffer!</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-reverse! [64bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-reverse! [32bit]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** digital-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** char-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** zero-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** integer-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-&gt;integer</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** find-char,string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* io about number</span>
<span class="org-level-2">** write-nature-number</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** write-integer</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** pretty_write_integer</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* word</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> io about word</span>...
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-word-begin-char</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-word-&gt;buffer</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-word</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** read-word-for-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** space-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-&gt;word-[begin|end]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-[head|tail],word</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* dictionary</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** find</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** execute-word</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* basic-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* colon semicolon</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** [colon|semicolon]-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** comment-[begin|end]-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** colon &amp; semicolon</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ignore-comment</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* function &amp; jojo</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** !undo-make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> macro in cicada-nymph</span>...
<span class="org-level-2">** address</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** branch</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** false?branch</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** double-quote</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** define-function</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** define-macro</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** define-exception</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** define-variable</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** save-into,primitive-string-heap</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** save-into,jo-heap</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* epilog</span>
<span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*un-initialized-memory*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*current-free-address,primitive-string-heap*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** last_link</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** un_initialized_memory [linux64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** un_initialized_memory [linux32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** un_initialized_memory [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** macro about import    [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** section about import  [windows64]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-2">** un_initialized_memory [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** macro about import    [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** section about import  [windows32]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** ----------------------------------</span>
<span class="org-level-1">* ===================================</span>
</pre>
  </body>
</html>
