---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>core.org</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    <!--
      body {
        color: #f8f8f0;
        background-color: #1b1d1e;
      }
      .ATTRLIST {
        /* (:strike-through t org-level-2) */
        text-decoration: line-through;
      }
      .bold {
        /* bold */
        font-weight: bold;
      }
      .cicada-nymph-XdataX {
        /* cicada-nymph-<data>-face */
        color: #ffffff;
        font-weight: bold;
      }
      .cicada-nymph-allocate {
        /* cicada-nymph-allocate-face */
        color: #AE7C3B;
        font-weight: bold;
      }
      .cicada-nymph-bool {
        /* cicada-nymph-bool-face */
        color: #fd971f;
        font-weight: bold;
      }
      .cicada-nymph-comment {
        /* cicada-nymph-comment-face */
        color: #FF8888;
      }
      .cicada-nymph-constant {
        /* cicada-nymph-constant-face */
        color: #fd971f;
        font-weight: bold;
      }
      .cicada-nymph-define-alias {
        /* cicada-nymph-define-alias-face */
        color: #ffffff;
        font-weight: bold;
      }
      .cicada-nymph-define-exception {
        /* cicada-nymph-define-exception-face */
        color: #1ef15f;
        font-weight: bold;
      }
      .cicada-nymph-define-function {
        /* cicada-nymph-define-function-face */
        color: #ae81ff;
        font-weight: bold;
      }
      .cicada-nymph-define-variable {
        /* cicada-nymph-define-variable-face */
        color: #a1ab3a;
        font-weight: bold;
      }
      .cicada-nymph-end {
        /* cicada-nymph-end-face */
        color: #00ffff;
        font-weight: bold;
      }
      .cicada-nymph-exception {
        /* cicada-nymph-exception-face */
        color: #00ffff;
        font-weight: bold;
      }
      .cicada-nymph-fetch-local-variable-1 {
        /* cicada-nymph-fetch-local-variable-1-face */
        color: #83EA83;
        font-weight: bold;
      }
      .cicada-nymph-fetch-local-variable-2 {
        /* cicada-nymph-fetch-local-variable-2-face */
        color: #5CDD5C;
        font-weight: bold;
      }
      .cicada-nymph-function-to-define {
        /* cicada-nymph-function-to-define-face */
        color: #ef5939;
        font-weight: bold;
      }
      .cicada-nymph-meta-code-begin {
        /* cicada-nymph-meta-code-begin-face */
        color: #ef5939;
        font-weight: bold;
      }
      .cicada-nymph-meta-code-end {
        /* cicada-nymph-meta-code-end-face */
        color: #ae81ff;
        font-weight: bold;
      }
      .cicada-nymph-number {
        /* cicada-nymph-number-face */
        color: #fd971f;
        font-weight: bold;
      }
      .cicada-nymph-number-light {
        /* cicada-nymph-number-light-face */
        color: #ffff00;
      }
      .cicada-nymph-save-local-variable-1 {
        /* cicada-nymph-save-local-variable-1-face */
        color: #FF4C4C;
        font-weight: bold;
      }
      .cicada-nymph-save-local-variable-2 {
        /* cicada-nymph-save-local-variable-2-face */
        color: #dc322f;
        font-weight: bold;
      }
      .cicada-nymph-sentence-reader {
        /* cicada-nymph-sentence-reader-face */
        color: #ffff00;
        font-weight: bold;
      }
      .cicada-nymph-square-brackets {
        /* cicada-nymph-square-brackets-face */
        color: #93a8c6;
      }
      .cicada-nymph-string {
        /* cicada-nymph-string-face */
        color: #e6db74;
      }
      .cicada-nymph-syntax-key-word {
        /* cicada-nymph-syntax-key-word-face */
        color: #f92672;
        font-weight: bold;
      }
      .cicada-nymph-title {
        /* cicada-nymph-title-face */
        color: #ffffff;
        font-weight: bold;
      }
      .cicada-nymph-variable {
        /* cicada-nymph-variable-face */
        color: #fd971f;
        font-weight: bold;
      }
      .cicada-nymph-wody {
        /* cicada-nymph-wody-face */
        color: #a6e22e;
        font-weight: bold;
      }
      .italic {
        /* italic */
        font-style: italic;
      }
      .org-block-begin-line {
        /* org-block-begin-line */
        color: #FF8888;
      }
      .org-block-end-line {
        /* org-block-end-line */
        color: #FF8888;
      }
      .org-document-info {
        /* org-document-info */
        color: #afeeee;
      }
      .org-document-info-keyword {
        /* org-document-info-keyword */
        color: #b3b3b3;
      }
      .org-document-title {
        /* org-document-title */
        color: #afeeee;
        font-weight: bold;
      }
      .org-done {
        /* org-done */
        color: #98fb98;
        font-weight: bold;
      }
      .org-level-1 {
        /* org-level-1 */
        color: #a6e22e;
      }
      .org-level-2 {
        /* org-level-2 */
        color: #fd971f;
      }
      .org-table {
        /* org-table */
        color: #87cefa;
      }
      .org-tag {
        /* org-tag */
        font-weight: bold;
      }
      .org-todo {
        /* org-todo */
        color: #ffc0cb;
        font-weight: bold;
      }

      a {
        color: inherit;
        background-color: inherit;
        font: inherit;
        text-decoration: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
    -->
    </style>
{% include in-org-head.html %}
  </head>
  <body>
    {% include before-pre.html %}
<pre>
<span class="org-document-info-keyword">#+TITLE:</span>  <span class="org-document-title">&#23567;&#34796;&#20043;&#26680; / core of cicada-nymph
</span><span class="org-document-info-keyword">#+AUTHOR:</span> <span class="org-document-info">&#35613;&#23431;&#24646; / XIE Yuheng
</span><span class="org-document-info-keyword">#+EMAIL:</span>  <span class="org-document-info">xyheme@gmail.com
</span>
<span class="org-level-1">* </span><span class="org-done">todo</span>
<span class="org-level-2">** better names for (make-*)</span>
<span class="org-level-2">** &#22522;&#30990;&#35373;&#26045; &#20043; &#21152;&#36617;&#33287;&#20381;&#36084;</span>
<span class="org-level-2">** &#22522;&#30990;&#35373;&#26045; &#20043; &#28204;&#35430;&#26694;&#26550;</span>
<span class="org-level-2">** &#22522;&#30990;&#35373;&#26045; &#20043; &#20195;&#30908;&#29983;&#25104;</span>...
<span class="org-level-2">** &#22522;&#30990;&#35373;&#26045; &#20043; &#38500;&#37679;&#27169;&#24335;               </span><span class="org-level-2"><span class="org-tag">:maybe:</span></span>...
<span class="org-level-2">** &#25972;&#29702;&#32080;&#27083; &#20043; &#20998;&#32068;&#21629;&#21517;</span>
<span class="org-level-2">** &#25972;&#29702;&#32080;&#27083; &#20043; &#21311;&#21517;&#20989;&#25976;&#30340;&#20351;&#29992;</span>
<span class="org-level-2">** &#25972;&#29702;&#32080;&#27083; &#20043; &#33391;&#22909;&#28204;&#35430;</span>
<span class="org-level-2">** &#25972;&#29702;&#32080;&#27083; &#20043; &#20998;&#25955;&#25991;&#20214;</span>
<span class="org-level-2">** &#22522;&#30990;&#35373;&#26045; &#20043; &#21311;&#21517;&#20989;&#25976; &#20043; </span><span class="org-level-2"><span class="bold">*circular-jojo-area*</span></span><span class="org-level-2"> </span><span class="org-level-2"><span class="org-tag">:maybe:</span></span>...
<span class="org-level-2">** "&#35486;&#32681;" "&#35486;&#27861;"                      </span><span class="org-level-2"><span class="org-tag">:&#38364;&#26044;&#34899;&#35486;:</span></span>...
<span class="org-level-2">** design a way to remove magic numbers [not variable, but file by file like erlang ?]</span>
<span class="org-level-2">** need more lib functions about string processing and better factoring for string processing</span>
<span class="org-level-2">** only one error-code-&gt;string is not enough </span><span class="org-level-2"><span class="org-tag">:maybe:</span></span>
<span class="org-level-2">** language-level support for creating and managing processes </span><span class="org-level-2"><span class="org-tag">:maybe:</span></span>
<span class="org-level-1">* ===================================</span>
<span class="org-level-1">* </span><span class="org-todo">&#35352;</span>
<span class="org-level-2">** &#27880;&#24847; &#30446;&#21069;&#20760;&#37327;&#21482;&#23531; &#23601;&#23526;&#29694; cicada-language &#32780;&#35328;&#26377;&#29992;&#30340;&#20989;&#25976;[&#29305;&#24615;]</span>...
<span class="org-level-2">** &#21205;&#24907;&#20839;&#23384;&#31649;&#29702;</span>...
<span class="org-level-2">** global states</span>...
<span class="org-level-1">* ===================================</span>
<span class="org-level-1">* writers</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> name of writers</span>...
<span class="org-level-2">** .l .i .b</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,make-jojo*</span></span><span class="org-level-1"> : if &amp; else &amp; then</span>
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#26781;&#20214;&#36681;&#36339;</span>...
<span class="org-level-2">** word:[if|else|then]?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,[if|else|then],make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span><span class="org-level-2"> if &amp; else &amp; then</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span><span class="org-level-2"> if &amp; else &amp; then [by factorial]</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,make-jojo*</span></span><span class="org-level-1"> : prepare-for &amp; exception-reset-stack</span>
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#30064;&#24120;&#34389;&#29702;</span>...
<span class="org-level-2">** word:prepare-for?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,prepare-for,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** word:exception-reset-stack?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,exception-reset-stack,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,make-jojo*</span></span><span class="org-level-1"> : save-to</span>
<span class="org-level-2">** word:save-to?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,save-to,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,make-jojo*</span></span><span class="org-level-1"> : loop</span>
<span class="org-level-2">** word:loop?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,loop,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,make-jojo*</span></span><span class="org-level-1"> : recur</span>
<span class="org-level-2">** word:recur?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,recur,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span><span class="org-level-2"> recur [by factorial]</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* more,rule-set,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* allocate</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** clear-memory [not using]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** allocate-memory</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*name-hash-table*</span></span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** memory allocation</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* name</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** name-&gt;address</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name,used?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name,used-as-jo?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name-&gt;string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name,fetch-orbit-length</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name,fetch-orbiton</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name,fetch-jo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name,save-string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name,save-string,share</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name,save-orbit-length</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name,save-orbiton</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name,save-jo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name,no-collision?</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* name-hash-table</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> interface</span>...
<span class="org-level-2">** name-hash-table,hash</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-&gt;finite-carry-sum</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name-hash-table,search</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name-hash-table,insert</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name-hash-table,insert,share</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-&gt;name</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string-&gt;name,share</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> about report</span>...
<span class="org-level-2">** name-hash-table,report</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name-hash-table,save-jo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name-hash-table,find-jo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name-hash-table,delete-jo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* string</span>
<span class="org-level-2">** n-string-&gt;buffer!</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** string,find-word</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* </span><span class="org-todo">note</span><span class="org-level-1"> data-structure</span>...
<span class="org-level-1">* </span><span class="org-todo">&#35352;</span><span class="org-level-1"> &#25976;&#25818;&#32080;&#27083;&#32317;&#32080;</span>
<span class="org-level-2">** &lt;jo&gt;</span>...
<span class="org-level-2">** &lt;string-area&gt;</span>...
<span class="org-level-2">** &lt;link&gt;</span>...
<span class="org-level-2">** &lt;buffer&gt;</span>...
<span class="org-level-2">** &lt;string&gt;</span>...
<span class="org-level-2">** &lt;word&gt;</span>...
<span class="org-level-2">** &lt;jojo-area&gt;</span>...
<span class="org-level-2">** &lt;jojo&gt;</span>...
<span class="org-level-2">** &lt;syntax-stack&gt;</span>...
<span class="org-level-2">** &lt;rule-set&gt;</span>...
<span class="org-level-2">** &lt;local-jo&gt;</span>...
<span class="org-level-2">** &lt;local-variable-table&gt;</span>...
<span class="org-level-2">** &lt;local-byte&gt;</span>...
<span class="org-level-2">** &lt;name-hash-table&gt;</span>...
<span class="org-level-2">** &lt;name&gt;</span>...
<span class="org-level-2">** &lt;title&gt;</span>...
<span class="org-level-1">* </span><span class="org-todo">&#35352;</span><span class="org-level-1"> title</span>
<span class="org-level-2">** &#30446;&#30340;</span>...
<span class="org-level-2">** &#23526;&#29694;</span>...
<span class="org-level-2">** &#25509;&#21475;</span>...
<span class="org-level-2">** implementation</span>...
<span class="org-level-1">* define-function,with-title</span>
<span class="org-level-2">** &lt;word&gt;?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** make-title</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name-hash-table,save-jo,with-title</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** name-hash-table,find-jo,with-title</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** define-function,with-title</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,make-jojo*</span></span><span class="org-level-1"> : &lt;title&gt;</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** syntax,&lt;title&gt;,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** more,rule-set,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-todo">&gt;&lt;</span><span class="org-level-1"> define-alias,with-title</span>
<span class="org-level-2">** define-alias,with-title</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-todo">&gt;&lt;</span><span class="org-level-1"> data-structure</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* make-jojo                           </span><span class="org-level-1"><span class="org-tag">:redefine:</span></span>
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> ad hoc</span>...
<span class="org-level-2">** make-jojo,dispatch-word</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* init,name-hash-table,jo</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span>...
<span class="org-level-2">** init,name-hash-table,by-link</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* define-variable,with-tos            </span><span class="org-level-1"><span class="org-tag">:redefine:</span></span>
<span class="org-level-2">** define-variable,with-tos</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* define-exception</span>
<span class="org-level-2">** define-exception</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* define-function                     </span><span class="org-level-1"><span class="org-tag">:redefine:</span></span>
<span class="org-level-2">** define-function,without-title</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** define-function</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** to load link into name-hash-table</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span><span class="org-level-2"> with-title</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,make-jojo*</span></span><span class="org-level-1"> : name</span>
<span class="org-level-2">** word:name?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,name,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** more,rule-set,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* number with base</span>
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#21407;&#29702;</span>...
<span class="org-level-2">** remove-char!</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** latin-char?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** latin-char-&gt;number</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** number-&gt;latin-char</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** wild-digit-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** wild-integer-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** base#wild-integer-string?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** base#wild-integer-string-&gt;base-string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** base#wild-integer-string-&gt;wild-integer-string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** wild-integer-string-&gt;integer,with-base</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** base#wild-integer-string-&gt;integer</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> writers</span>...
<span class="org-level-2">** .#</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** .#2 .#8 .#16</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> bit-xor</span>...
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> gamber</span>...
<span class="org-level-2">** number-&gt;gamber</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** gamber-&gt;number</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,make-jojo*</span></span><span class="org-level-1"> : number with base</span>
<span class="org-level-2">** syntax,base#wild-integer-string,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** more,rule-set,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* basic-REPL                          </span><span class="org-level-1"><span class="org-tag">:redefine:</span></span>
<span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*rule-set,basic-REPL*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** eval-word</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** word:bye?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** !bye,basic-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,bye,basic-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** basic-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,basic-REPL*</span></span><span class="org-level-1"> : jo</span>
<span class="org-level-2">** word:jo?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,jo,basic-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** init,rule-set,basic-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,basic-REPL*</span></span><span class="org-level-1"> : if &amp; else &amp; then</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> ending jo</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> executing (end) in REPL</span>...
<span class="org-level-2">** syntax,if,basic-REPL,meet-true</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,if,basic-REPL,meet-false</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,if,basic-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** add-rule to </span><span class="org-level-2"><span class="bold">*rule-set,basic-REPL*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*circular-string-area*</span></span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** allocate-memory</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,basic-REPL*</span></span><span class="org-level-1"> : double-quote</span>
<span class="org-level-2">** circular-string-area,stay</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,double-quote,basic-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** add-rule to </span><span class="org-level-2"><span class="bold">*rule-set,basic-REPL*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,basic-REPL*</span></span><span class="org-level-1"> : address</span>
<span class="org-level-2">** syntax,address,basic-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** add-rule to </span><span class="org-level-2"><span class="bold">*rule-set,basic-REPL*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*rule-set,basic-REPL*</span></span><span class="org-level-1"> : save-to</span>
<span class="org-level-2">** syntax,save-to,basic-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** add-rule to </span><span class="org-level-2"><span class="bold">*rule-set,basic-REPL*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* stack-REPL</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** print-argument-stack</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** print-argument-stack,pretty</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** stack-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*lost-exception-REPL*</span></span>
<span class="org-level-2">** reset </span><span class="org-level-2"><span class="bold">*lost-exception-REPL*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* </span><span class="org-done">test</span><span class="org-level-1"> endianness of n-fetch &amp; n-save</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* rule-set</span>
<span class="org-level-2">** list-rule</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** sub-rule</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* eval-string</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** eval-string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* define-variable</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> string allocation</span>...
<span class="org-level-2">** syntax,double-quote,define-variable</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** define-variable</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* un-named function</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> side-effect</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> scope of named-local-variable</span>...
<span class="org-level-2">** word:square-bar?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** word:square-ket?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> memory usage</span>...
<span class="org-level-2">** syntax,square-bar,make-jojo</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** add-rule to </span><span class="org-level-2"><span class="bold">*rule-set,basic-REPL*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span><span class="org-level-2"> [by factorial]</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* constant for linux                  </span><span class="org-level-1"><span class="org-tag">:linux:</span></span>
<span class="org-level-2">** init-syscall-number                </span><span class="org-level-2"><span class="org-tag">:32bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** init-syscall-number                </span><span class="org-level-2"><span class="org-tag">:64bit:</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** error-code-&gt;string</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** file-type-code-&gt;string</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* link</span>
<span class="org-level-2">** link,list-by-jo-predicate</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** link,report</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* port</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> syscall with string arguments</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> linux header</span>...
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#38364;&#26044;&#36664;&#20837;&#36664;&#20986;</span>...
<span class="org-level-2">** input-port,open</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** output-port,[creat|update]</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** port,close</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** port,read</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** port,write</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* file-tree</span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> interface</span>...
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#37679;&#35492;&#34389;&#29702;</span>...
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#20803;&#25976;&#25818;</span>...
<span class="org-level-2">** file,creat</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** file,write</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** file,read</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** file,remove</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** directory,creat</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** directory,remove</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** getdents64 structure</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** empty-directory?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** directory,map</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** directory,list-file</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** directory,list-directory</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** directory,find-file</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** directory,find-directory</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* system environment                  </span><span class="org-level-1"><span class="org-tag">:linux:</span></span>
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> one directory</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> linux system environment</span>...
<span class="org-level-2">** [init|get]-pid</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** [init|get]-command-line</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** [init|get]-environment-variable-list</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** find-environment-variable</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** initialize system environment</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*home-directory*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** report-environment-variable</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** report-command-line</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* work-directory</span>
<span class="org-level-2">** get-work-directory</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** change-work-directory</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* path</span>
<span class="org-level-2">** stat structure</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> predicate</span>...
<span class="org-level-2">** path,nothing?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** path,file?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** path,directory?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> &#23383;&#31526;&#20018;&#30340;&#35586;&#35422;</span>...
<span class="org-level-2">** </span><span class="org-todo">&#35352;</span><span class="org-level-2"> unix &#36335;&#24465;&#26684;&#24335;</span>...
<span class="org-level-2">** relative-path?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** full-path?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* poi</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*poi-directory*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** poi,find</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** poi,add</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** poi,sub</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** poi,up</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** poi,list</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** poi,help</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="ATTRLIST">+word+</span><span class="org-level-2">?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="ATTRLIST">+word+</span><span class="org-level-2">-&gt;word</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* path syntax</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>...
<span class="org-level-2">** </span><span class="org-todo">note</span><span class="org-level-2"> format</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** word:path:?</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** !bad-path-syntax-word</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** path-syntax-word-&gt;path</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** syntax,path:,basic-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** add-rule to </span><span class="org-level-2"><span class="bold">*rule-set,basic-REPL*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** </span><span class="org-done">test</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* </span><span class="org-todo">note</span><span class="org-level-1"> loading</span>
<span class="org-level-2">** no auto load</span>...
<span class="org-level-2">** loading-stack &amp; unload</span>...
<span class="org-level-2">** terminology</span>...
<span class="org-level-1">* </span><span class="org-todo">&#35352;</span><span class="org-level-1"> &#21152;&#36617;</span>
<span class="org-level-2">** meta-code</span>...
<span class="org-level-2">** loading-stack</span>...
<span class="org-level-1">* load &amp; need</span>
<span class="org-level-2">** </span><span class="org-level-2"><span class="bold">*loading-stack*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-2">** load</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** need</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* </span><span class="org-todo">&#35352;</span><span class="org-level-1"> test</span>...
<span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* report</span>
<span class="org-level-2">** report-memory</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** report-platform</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** report-jo-size</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** report-machine-word-size</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** report-syntax</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** initial-report</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* hi</span>
<span class="org-level-2">** welcome</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** hi</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** help</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* command-line-interface</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>
<span class="org-level-2">** command-line,unknow-function</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** command-line,stack-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** command-line,basic-REPL</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** command-line,poi</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** command-line,no-function</span>...<span class="org-block-end-line">
</span><span class="org-level-2">** command-line-dispatcher</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* </span><span class="org-level-1"><span class="bold">*the-story-begin*</span></span>...<span class="org-block-end-line">
</span><span class="org-level-1">* ===================================</span>
<span class="org-level-1">* </span><span class="org-done">test</span><span class="org-level-1"> report</span>...<span class="org-block-end-line">
</span><span class="org-level-1">* ===================================</span>
</pre>
  </body>
</html>
