---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>core.org</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    <!--
      body {
        color: #f8f8f0;
        background-color: #1b1d1e;
      }
      .bold {
        /* bold */
        font-weight: bold;
      }
      .cicada-nymph-comment {
        /* cicada-nymph-comment-face */
        color: #FF8888;
      }
      .cicada-nymph-end {
        /* cicada-nymph-end-face */
        color: #00ffff;
        font-weight: bold;
      }
      .cicada-nymph-lexicographer {
        /* cicada-nymph-lexicographer-face */
        color: #ae81ff;
        font-weight: bold;
      }
      .cicada-nymph-number {
        /* cicada-nymph-number-face */
        color: #fd971f;
        font-weight: bold;
      }
      .cicada-nymph-sentence-reader {
        /* cicada-nymph-sentence-reader-face */
        color: #ffff00;
        font-weight: bold;
      }
      .cicada-nymph-string {
        /* cicada-nymph-string-face */
        color: #e6db74;
      }
      .cicada-nymph-syntax-key-word {
        /* cicada-nymph-syntax-key-word-face */
        color: #f92672;
        font-weight: bold;
      }
      .cicada-nymph-variable {
        /* cicada-nymph-variable-face */
        color: #fd971f;
      }
      .cicada-nymph-word-to-define {
        /* cicada-nymph-word-to-define-face */
        color: #ef5939;
        font-weight: bold;
      }
      .org-block-begin-line {
        /* org-block-begin-line */
        color: #FF8888;
      }
      .org-block-end-line {
        /* org-block-end-line */
        color: #FF8888;
      }
      .org-document-info {
        /* org-document-info */
        color: #afeeee;
      }
      .org-document-info-keyword {
        /* org-document-info-keyword */
        color: #b3b3b3;
      }
      .org-document-title {
        /* org-document-title */
        color: #afeeee;
        font-weight: bold;
      }
      .org-done {
        /* org-done */
        color: #98fb98;
        font-weight: bold;
      }
      .org-level-1 {
        /* org-level-1 */
        color: #a6e22e;
      }
      .org-level-2 {
        /* org-level-2 */
        color: #fd971f;
      }
      .org-todo {
        /* org-todo */
        color: #ffc0cb;
        font-weight: bold;
      }

      a {
        color: inherit;
        background-color: inherit;
        font: inherit;
        text-decoration: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
    -->
    </style>
{% include in-org-head.html %}
  </head>
  <body>
    {% include before-pre.html %}
<pre>
<span class="org-document-info-keyword">#+TITLE:</span>  <span class="org-document-title">&#23567;&#34796;&#35486;&#26680; / core of cicada-nymph
</span><span class="org-document-info-keyword">#+AUTHOR:</span> <span class="org-document-info">&#35613;&#23431;&#24646; / XIE Yuheng
</span><span class="org-document-info-keyword">#+EMAIL:</span>  <span class="org-document-info">xyheme@gmail.com
</span>
<span class="org-level-1">* </span><span class="org-done">todo</span>
<span class="org-level-2">** be able to switch REPL</span>
<span class="org-level-2">** syntax for exception handling in cicada-nymph</span>
<span class="org-level-2">** big number and &#21516;&#39192;&#26041;&#31243;</span>
   * &#29234;&#20102;&#29609; hash-table
<span class="org-level-1">* ===================================</span>
<span class="org-level-1">* misc</span>
<span class="org-block-begin-line">  #+begin_src cicada-nymph :tangle core.cn
</span>  <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">cr</span> <span class="cicada-nymph-comment">&lt;&lt; cr denotes carriage return &gt;&gt;</span>
    <span class="cicada-nymph-comment">&lt;&lt; -- &gt;&gt;</span>
    <span class="cicada-nymph-number">10</span> write-byte
    <span class="cicada-nymph-end">end</span>
  <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">  #+end_src
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* if &amp; else &amp; then</span>
  * one predicate can make two branchs
    three predicates can make four branchs
    three predicates may only make three branchs
    but indeed there must be an invisible branch
<span class="org-block-begin-line">  #+begin_src cicada-nymph :tangle core.cn
</span>  <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-syntax-key-word">if</span>
    <span class="cicada-nymph-comment">&lt;&lt; string[address, length] --
       address, string[address, length] &gt;&gt;</span>
    <span class="cicada-nymph-variable">*false?branch*</span> save-into,jo-heap
    <span class="cicada-nymph-variable">*current-free-address,jo-heap*</span> xx|swap|x
    <span class="cicada-nymph-number">0</span> save-into,jo-heap
    <span class="cicada-nymph-end">end</span>
  <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-macro</span>

  <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-syntax-key-word">else</span>
    <span class="cicada-nymph-comment">&lt;&lt; address, string[address, length] --
       address, string[address, length] &gt;&gt;</span>
    <span class="cicada-nymph-variable">*branch*</span> save-into,jo-heap
    x|swap|xx
    <span class="cicada-nymph-variable">*current-free-address,jo-heap*</span> xxx|swap|x
    <span class="cicada-nymph-number">0</span> save-into,jo-heap
    <span class="cicada-nymph-comment">&lt;&lt; address, string[address, length], address &gt;&gt;</span>
    <span class="cicada-nymph-variable">*current-free-address,jo-heap*</span>
    over sub <span class="cicada-nymph-variable">*jo-size*</span> div
    swap save
    <span class="cicada-nymph-end">end</span>
  <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-macro</span>

  <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-syntax-key-word">then</span>
    <span class="cicada-nymph-comment">&lt;&lt; address, string[address, length] --
       string[address, length] &gt;&gt;</span>
    x|swap|xx
    <span class="cicada-nymph-variable">*current-free-address,jo-heap*</span>
    over sub <span class="cicada-nymph-variable">*jo-size*</span> div
    swap save
    <span class="cicada-nymph-end">end</span>
  <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-macro</span>
<span class="org-block-end-line">  #+end_src
</span><span class="org-level-1">* </span><span class="org-done">test</span>
<span class="org-block-begin-line">  #+begin_src cicada-nymph :tangle core.cn.test
</span>  <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">kkk</span>
    <span class="cicada-nymph-string">"kkk took my baby away !"</span> write-string
    cr
    <span class="cicada-nymph-end">end</span>
  <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

  <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">factorial</span>
    <span class="cicada-nymph-comment">&lt;&lt; number -- number &gt;&gt;</span>
    dup
    one? <span class="cicada-nymph-syntax-key-word">if</span>
      <span class="cicada-nymph-end">end</span>
    <span class="cicada-nymph-syntax-key-word">then</span>
    dup sub1 factorial
    mul
    <span class="cicada-nymph-end">end</span>
  <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>


  cr
  <span class="cicada-nymph-number">1</span> factorial . cr
  <span class="cicada-nymph-number">2</span> factorial . cr
  <span class="cicada-nymph-number">3</span> factorial . cr
  <span class="cicada-nymph-number">4</span> factorial . cr
  <span class="cicada-nymph-number">5</span> factorial . cr
  <span class="cicada-nymph-number">6</span> factorial . cr
  <span class="cicada-nymph-number">7</span> factorial . cr
  <span class="cicada-nymph-number">8</span> factorial . cr
  <span class="cicada-nymph-number">9</span> factorial . cr
  <span class="cicada-nymph-number">10</span> factorial . cr
  <span class="cicada-nymph-number">11</span> factorial . cr
  <span class="cicada-nymph-number">12</span> factorial . cr
  <span class="cicada-nymph-number">13</span> factorial . cr
  <span class="cicada-nymph-number">14</span> factorial . cr
  <span class="cicada-nymph-number">15</span> factorial . cr
  <span class="cicada-nymph-number">16</span> factorial . cr
  <span class="cicada-nymph-number">17</span> factorial . cr
  <span class="cicada-nymph-number">18</span> factorial . cr
  <span class="cicada-nymph-number">19</span> factorial . cr
  <span class="cicada-nymph-number">20</span> factorial . cr


  <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">.12</span>
    <span class="cicada-nymph-comment">&lt;&lt; 1 2 -- &gt;&gt;</span>
    <span class="cicada-nymph-number">2</span> equal? <span class="cicada-nymph-syntax-key-word">if</span>
      <span class="cicada-nymph-string">"(^-^)"</span> write-string
      <span class="cicada-nymph-number">1</span> equal? <span class="cicada-nymph-syntax-key-word">if</span>
        <span class="cicada-nymph-string">"\^o^/"</span> write-string
      <span class="cicada-nymph-syntax-key-word">else</span>
        <span class="cicada-nymph-string">"     "</span> write-string
      <span class="cicada-nymph-syntax-key-word">then</span>
    <span class="cicada-nymph-syntax-key-word">else</span>
      <span class="cicada-nymph-string">"     "</span> write-string
      <span class="cicada-nymph-number">1</span> equal? <span class="cicada-nymph-syntax-key-word">if</span>
        <span class="cicada-nymph-string">"\^o^/"</span> write-string
      <span class="cicada-nymph-syntax-key-word">else</span>
        <span class="cicada-nymph-string">"     "</span> write-string
      <span class="cicada-nymph-syntax-key-word">then</span>
    <span class="cicada-nymph-syntax-key-word">then</span>
    <span class="cicada-nymph-end">end</span>
  <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

  cr
  <span class="cicada-nymph-number">1</span> <span class="cicada-nymph-number">2</span> .12 cr
  <span class="cicada-nymph-number">6</span> <span class="cicada-nymph-number">2</span> .12 cr
  <span class="cicada-nymph-number">1</span> <span class="cicada-nymph-number">6</span> .12 cr
  <span class="cicada-nymph-number">6</span> <span class="cicada-nymph-number">6</span> .12 cr
<span class="org-block-end-line">  #+end_src
</span><span class="org-level-1">* re-define execute-word &amp; basic-REPL</span>
  * to protect macro &amp; exception from be called from basic-REPL
<span class="org-block-begin-line">  #+begin_src cicada-nymph :tangle core.cn
</span>  <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">execute-word</span>
    <span class="cicada-nymph-comment">&lt;&lt; word[address, length] -- unknown &gt;&gt;</span>
    dup2 integer-string? <span class="cicada-nymph-syntax-key-word">if</span>
      string-&gt;integer
      <span class="cicada-nymph-end">end</span>
    <span class="cicada-nymph-syntax-key-word">then</span>
    dup2
    find <span class="cicada-nymph-syntax-key-word">if</span>
      dup macro-jo? <span class="cicada-nymph-syntax-key-word">if</span>
        drop
        <span class="cicada-nymph-string">"* (execute-word) CAN NOT EXECUTE MACRO DIRECTLY : "</span> write-string
        write-string cr
        <span class="cicada-nymph-end">end</span>
      <span class="cicada-nymph-syntax-key-word">then</span>
      dup exception-jo? <span class="cicada-nymph-syntax-key-word">if</span>
        drop
        <span class="cicada-nymph-string">"* (execute-word) CAN NOT EXECUTE EXCEPTION DIRECTLY : "</span> write-string
        write-string cr
        <span class="cicada-nymph-end">end</span>
      <span class="cicada-nymph-syntax-key-word">then</span>
      <span class="cicada-nymph-comment">&lt;&lt; function &amp; primitive-function &amp; variable &gt;&gt;</span>
      xx|swap|x drop2
      execute-jo
      <span class="cicada-nymph-end">end</span>
    <span class="cicada-nymph-syntax-key-word">else</span>
    <span class="cicada-nymph-string">"* (execute-word) MEETS UNDEFINED WORD : "</span> write-string
    write-string cr
    <span class="cicada-nymph-syntax-key-word">then</span>
    <span class="cicada-nymph-end">end</span>
  <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

  <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">basic-REPL</span>
    <span class="cicada-nymph-comment">&lt;&lt; unknown -- unknown &gt;&gt;</span>
    read-word-for-REPL
    execute-word
    <span class="cicada-nymph-end">&lt;&gt;</span> basic-REPL
  <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

  basic-REPL
<span class="org-block-end-line">  #+end_src
</span><span class="org-level-1">* allocate</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>
   * an interface of <span class="bold">*un-initialized-memory*</span>
<span class="org-level-2">** clear-memory [not using]</span>
   * this kinds of functions
     must be implemented in assembly code
<span class="org-block-begin-line">   #+begin_src cicada-nymph
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">clear-memory</span>
     <span class="cicada-nymph-comment">&lt;&lt; size, address -- &gt;&gt;</span>
     over zero? <span class="cicada-nymph-syntax-key-word">if</span>
       drop2
       <span class="cicada-nymph-end">end</span>
     <span class="cicada-nymph-syntax-key-word">then</span>
     <span class="cicada-nymph-number">0</span> over save
     add1 swap
     sub1 swap
     <span class="cicada-nymph-end">&lt;&gt;</span> clear-memory
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** allocate-memory</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph :tangle core.cn
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">allocate-memory</span>
     <span class="cicada-nymph-comment">&lt;&lt; size -- address &gt;&gt;</span>
     dup <span class="cicada-nymph-variable">*current-free-address,un-initialized-memory*</span> clear-memory
     <span class="cicada-nymph-variable">*current-free-address,un-initialized-memory*</span> swap <span class="cicada-nymph-comment">&lt;&lt; address as return value &gt;&gt;</span>
     <span class="cicada-nymph-syntax-key-word">address</span> <span class="cicada-nymph-variable">*current-free-address,un-initialized-memory*</span> add-save
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* report</span>
<span class="org-level-2">** show-dictionary,primitive-function</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph :tangle core.cn
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">loop,show-dictionary,primitive-function</span>
     <span class="cicada-nymph-comment">&lt;&lt; counter, jo -- total &gt;&gt;</span>
     dup zero? <span class="cicada-nymph-syntax-key-word">if</span>
       drop
       <span class="cicada-nymph-end">end</span>
     <span class="cicada-nymph-syntax-key-word">then</span>
     dup primitive-function-jo? false? <span class="cicada-nymph-syntax-key-word">if</span>
       jo-&gt;pre-jo
       <span class="cicada-nymph-end">&lt;&gt;</span> loop,show-dictionary,primitive-function
     <span class="cicada-nymph-syntax-key-word">then</span>
     swap
       <span class="cicada-nymph-string">"  "</span> write-string
       add1 dup .
     swap
     dup jo-&gt;name
     dup2 space-string? <span class="cicada-nymph-syntax-key-word">if</span>
       drop2
       <span class="cicada-nymph-string">"UN-NAMED"</span> write-string cr
     <span class="cicada-nymph-syntax-key-word">else</span>
       write-string cr
     <span class="cicada-nymph-syntax-key-word">then</span>
     jo-&gt;pre-jo
     <span class="cicada-nymph-end">&lt;&gt;</span> loop,show-dictionary,primitive-function
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">show-dictionary,primitive-function</span>
     <span class="cicada-nymph-comment">&lt;&lt; -- &gt;&gt;</span>
     <span class="cicada-nymph-string">"* ALL PRIMITIVE-FUNCTION IN DICTIONARY :"</span> write-string cr
     <span class="cicada-nymph-number">0</span> <span class="cicada-nymph-variable">*first-jo-in-dictionary*</span>
     loop,show-dictionary,primitive-function
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** show-dictionary,function</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph :tangle core.cn
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">loop,show-dictionary,function</span>
     <span class="cicada-nymph-comment">&lt;&lt; counter, jo -- total &gt;&gt;</span>
     dup zero? <span class="cicada-nymph-syntax-key-word">if</span>
       drop
       <span class="cicada-nymph-end">end</span>
     <span class="cicada-nymph-syntax-key-word">then</span>
     dup function-jo? false? <span class="cicada-nymph-syntax-key-word">if</span>
       jo-&gt;pre-jo
       <span class="cicada-nymph-end">&lt;&gt;</span> loop,show-dictionary,function
     <span class="cicada-nymph-syntax-key-word">then</span>
     swap
       <span class="cicada-nymph-string">"  "</span> write-string
       add1 dup .
     swap
     dup jo-&gt;name
     dup2 space-string? <span class="cicada-nymph-syntax-key-word">if</span>
       drop2
       <span class="cicada-nymph-string">"UN-NAMED"</span> write-string cr
     <span class="cicada-nymph-syntax-key-word">else</span>
       write-string cr
     <span class="cicada-nymph-syntax-key-word">then</span>
     jo-&gt;pre-jo
     <span class="cicada-nymph-end">&lt;&gt;</span> loop,show-dictionary,function
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">show-dictionary,function</span>
     <span class="cicada-nymph-comment">&lt;&lt; -- &gt;&gt;</span>
     <span class="cicada-nymph-string">"* ALL FUNCTION IN DICTIONARY :"</span> write-string cr
     <span class="cicada-nymph-number">0</span> <span class="cicada-nymph-variable">*first-jo-in-dictionary*</span>
     loop,show-dictionary,function
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** show-dictionary,macro</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph :tangle core.cn
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">loop,show-dictionary,macro</span>
     <span class="cicada-nymph-comment">&lt;&lt; counter, jo -- total &gt;&gt;</span>
     dup zero? <span class="cicada-nymph-syntax-key-word">if</span>
       drop
       <span class="cicada-nymph-end">end</span>
     <span class="cicada-nymph-syntax-key-word">then</span>
     dup macro-jo? false? <span class="cicada-nymph-syntax-key-word">if</span>
       jo-&gt;pre-jo
       <span class="cicada-nymph-end">&lt;&gt;</span> loop,show-dictionary,macro
     <span class="cicada-nymph-syntax-key-word">then</span>
     swap
       <span class="cicada-nymph-string">"  "</span> write-string
       add1 dup .
     swap
     dup jo-&gt;name
     dup2 space-string? <span class="cicada-nymph-syntax-key-word">if</span>
       drop2
       <span class="cicada-nymph-string">"UN-NAMED"</span> write-string cr
     <span class="cicada-nymph-syntax-key-word">else</span>
       write-string cr
     <span class="cicada-nymph-syntax-key-word">then</span>
     jo-&gt;pre-jo
     <span class="cicada-nymph-end">&lt;&gt;</span> loop,show-dictionary,macro
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">show-dictionary,macro</span>
     <span class="cicada-nymph-comment">&lt;&lt; -- &gt;&gt;</span>
     <span class="cicada-nymph-string">"* ALL MACRO IN DICTIONARY :"</span> write-string cr
     <span class="cicada-nymph-number">0</span> <span class="cicada-nymph-variable">*first-jo-in-dictionary*</span>
     loop,show-dictionary,macro
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** show-dictionary,exception</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph :tangle core.cn
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">loop,show-dictionary,exception</span>
     <span class="cicada-nymph-comment">&lt;&lt; counter, jo -- total &gt;&gt;</span>
     dup zero? <span class="cicada-nymph-syntax-key-word">if</span>
       drop
       <span class="cicada-nymph-end">end</span>
     <span class="cicada-nymph-syntax-key-word">then</span>
     dup exception-jo? false? <span class="cicada-nymph-syntax-key-word">if</span>
       jo-&gt;pre-jo
       <span class="cicada-nymph-end">&lt;&gt;</span> loop,show-dictionary,exception
     <span class="cicada-nymph-syntax-key-word">then</span>
     swap
       <span class="cicada-nymph-string">"  "</span> write-string
       add1 dup .
     swap
     dup jo-&gt;name
     dup2 space-string? <span class="cicada-nymph-syntax-key-word">if</span>
       drop2
       <span class="cicada-nymph-string">"UN-NAMED"</span> write-string cr
     <span class="cicada-nymph-syntax-key-word">else</span>
       write-string cr
     <span class="cicada-nymph-syntax-key-word">then</span>
     jo-&gt;pre-jo
     <span class="cicada-nymph-end">&lt;&gt;</span> loop,show-dictionary,exception
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">show-dictionary,exception</span>
     <span class="cicada-nymph-comment">&lt;&lt; -- &gt;&gt;</span>
     <span class="cicada-nymph-string">"* ALL EXCEPTION IN DICTIONARY :"</span> write-string cr
     <span class="cicada-nymph-number">0</span> <span class="cicada-nymph-variable">*first-jo-in-dictionary*</span>
     loop,show-dictionary,exception
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** show-dictionary,variable</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph :tangle core.cn
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">loop,show-dictionary,variable</span>
     <span class="cicada-nymph-comment">&lt;&lt; counter, jo -- total &gt;&gt;</span>
     dup zero? <span class="cicada-nymph-syntax-key-word">if</span>
       drop
       <span class="cicada-nymph-end">end</span>
     <span class="cicada-nymph-syntax-key-word">then</span>
     dup variable-jo? false? <span class="cicada-nymph-syntax-key-word">if</span>
       jo-&gt;pre-jo
       <span class="cicada-nymph-end">&lt;&gt;</span> loop,show-dictionary,variable
     <span class="cicada-nymph-syntax-key-word">then</span>
     swap
       <span class="cicada-nymph-string">"  "</span> write-string
       add1 dup .
     swap
     dup jo-&gt;name
     dup2 space-string? <span class="cicada-nymph-syntax-key-word">if</span>
       drop2
       <span class="cicada-nymph-string">"UN-NAMED"</span> write-string cr
     <span class="cicada-nymph-syntax-key-word">else</span>
       write-string cr
     <span class="cicada-nymph-syntax-key-word">then</span>
     jo-&gt;pre-jo
     <span class="cicada-nymph-end">&lt;&gt;</span> loop,show-dictionary,variable
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">show-dictionary,variable</span>
     <span class="cicada-nymph-comment">&lt;&lt; -- &gt;&gt;</span>
     <span class="cicada-nymph-string">"* ALL VARIABLE IN DICTIONARY :"</span> write-string cr
     <span class="cicada-nymph-number">0</span> <span class="cicada-nymph-variable">*first-jo-in-dictionary*</span>
     loop,show-dictionary,variable
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** show-dictionary</span>
   * different types of words in dictionary
     are showed separately
<span class="org-block-begin-line">   #+begin_src cicada-nymph :tangle core.cn
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">show-dictionary</span>
     <span class="cicada-nymph-comment">&lt;&lt; -- &gt;&gt;</span>
     show-dictionary,primitive-function
     show-dictionary,function
     show-dictionary,macro
     show-dictionary,exception
     show-dictionary,variable
     <span class="cicada-nymph-string">"* TOTALLY : "</span> write-string
     add add add add . cr
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** report-memory</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph :tangle core.cn
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">report-memory</span>
     <span class="cicada-nymph-comment">&lt;&lt; -- &gt;&gt;</span>
     <span class="cicada-nymph-string">"* *un-initialized-memory*"</span> write-string cr
     <span class="cicada-nymph-string">"  * SIZE : "</span> write-string
          <span class="cicada-nymph-variable">*size,un-initialized-memory*</span>
          . cr
     <span class="cicada-nymph-string">"  * USED : "</span> write-string
          <span class="cicada-nymph-variable">*current-free-address,un-initialized-memory*</span>
          <span class="cicada-nymph-variable">*un-initialized-memory*</span>
          sub . cr
     <span class="cicada-nymph-string">"  * FREE : "</span> write-string
          <span class="cicada-nymph-variable">*size,un-initialized-memory*</span>
          <span class="cicada-nymph-variable">*current-free-address,un-initialized-memory*</span>
          <span class="cicada-nymph-variable">*un-initialized-memory*</span>
          sub sub . cr
     <span class="cicada-nymph-string">"* *primitive-string-heap*"</span> write-string cr
     <span class="cicada-nymph-string">"  * SIZE : "</span> write-string
          <span class="cicada-nymph-variable">*size,primitive-string-heap*</span>
          . cr
     <span class="cicada-nymph-string">"  * USED : "</span> write-string
          <span class="cicada-nymph-variable">*current-free-address,primitive-string-heap*</span>
          <span class="cicada-nymph-variable">*primitive-string-heap*</span>
          sub . cr
     <span class="cicada-nymph-string">"  * FREE : "</span> write-string
          <span class="cicada-nymph-variable">*size,primitive-string-heap*</span>
          <span class="cicada-nymph-variable">*current-free-address,primitive-string-heap*</span>
          <span class="cicada-nymph-variable">*primitive-string-heap*</span>
          sub sub . cr
     <span class="cicada-nymph-string">"* *jo-heap*"</span> write-string cr
     <span class="cicada-nymph-string">"  * SIZE : "</span> write-string
          <span class="cicada-nymph-variable">*size,jo-heap*</span> . cr
     <span class="cicada-nymph-string">"  * USED : "</span> write-string
          <span class="cicada-nymph-variable">*current-free-address,jo-heap*</span>
          <span class="cicada-nymph-variable">*jo-heap*</span>
          sub . cr
     <span class="cicada-nymph-string">"  * FREE : "</span> write-string
          <span class="cicada-nymph-variable">*size,jo-heap*</span>
          <span class="cicada-nymph-variable">*current-free-address,jo-heap*</span>
          <span class="cicada-nymph-variable">*jo-heap*</span>
          sub sub . cr
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-1">* to load</span>
<span class="org-level-2">** load core.cn.test</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph :tangle core.cn
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">test</span>
     <span class="cicada-nymph-comment">&lt;&lt; -- &gt;&gt;</span>
     <span class="cicada-nymph-string">"core.cn.test"</span> load-file
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** load cicada.cn</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph :tangle core.cn
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">cicada</span>
     <span class="cicada-nymph-comment">&lt;&lt; -- &gt;&gt;</span>
     <span class="cicada-nymph-string">"cicada.cn"</span> load-file
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-1">* I wish you a lovely day</span>
<span class="org-level-2">** hi</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph :tangle core.cn
</span>   <span class="cicada-nymph-number">0</span>
   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">*hi,random-base*</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-variable</span>

   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">hi,random</span>
     <span class="cicada-nymph-comment">&lt;&lt; -- random-number &gt;&gt;</span>
     <span class="cicada-nymph-variable">*hi,random-base*</span>
     <span class="cicada-nymph-variable">*hi,random-base*</span> add1 <span class="cicada-nymph-number">10</span> mod
     <span class="cicada-nymph-syntax-key-word">address</span> <span class="cicada-nymph-variable">*hi,random-base*</span> save
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">hi,say</span>
     <span class="cicada-nymph-comment">&lt;&lt; number -- &gt;&gt;</span>
     dup <span class="cicada-nymph-number">0</span> equal? <span class="cicada-nymph-syntax-key-word">if</span> drop <span class="cicada-nymph-string">" cica cica da yaya !!!"</span> .s <span class="cicada-nymph-end">end</span> <span class="cicada-nymph-syntax-key-word">then</span>
     dup <span class="cicada-nymph-number">1</span> equal? <span class="cicada-nymph-syntax-key-word">if</span> drop <span class="cicada-nymph-string">" hi ^-^"</span> .s <span class="cicada-nymph-end">end</span> <span class="cicada-nymph-syntax-key-word">then</span>
     dup <span class="cicada-nymph-number">2</span> equal? <span class="cicada-nymph-syntax-key-word">if</span> drop <span class="cicada-nymph-string">" hello :)"</span> .s <span class="cicada-nymph-end">end</span> <span class="cicada-nymph-syntax-key-word">then</span>
     dup <span class="cicada-nymph-number">3</span> equal? <span class="cicada-nymph-syntax-key-word">if</span> drop <span class="cicada-nymph-string">" hey *^-^*"</span> .s <span class="cicada-nymph-end">end</span> <span class="cicada-nymph-syntax-key-word">then</span>
     dup <span class="cicada-nymph-number">4</span> equal? <span class="cicada-nymph-syntax-key-word">if</span> drop <span class="cicada-nymph-string">" hiya \^o^/"</span> .s <span class="cicada-nymph-end">end</span> <span class="cicada-nymph-syntax-key-word">then</span>
     dup <span class="cicada-nymph-number">5</span> equal? <span class="cicada-nymph-syntax-key-word">if</span> drop <span class="cicada-nymph-string">" I wish you a lovely day"</span> .s <span class="cicada-nymph-end">end</span> <span class="cicada-nymph-syntax-key-word">then</span>
     dup <span class="cicada-nymph-number">6</span> equal? <span class="cicada-nymph-syntax-key-word">if</span> drop <span class="cicada-nymph-string">" I wish you a lovely day { or night :P }"</span> .s <span class="cicada-nymph-end">end</span> <span class="cicada-nymph-syntax-key-word">then</span>
     dup <span class="cicada-nymph-number">7</span> equal? <span class="cicada-nymph-syntax-key-word">if</span> drop <span class="cicada-nymph-string">" o.o"</span> .s <span class="cicada-nymph-end">end</span> <span class="cicada-nymph-syntax-key-word">then</span>
     drop <span class="cicada-nymph-string">" love love ^3^"</span> .s <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">hi</span>
     <span class="cicada-nymph-comment">&lt;&lt; -- &gt;&gt;</span>
     hi,random
     hi,say
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* stack-REPL</span>
<span class="org-level-2">** </span><span class="org-todo">note</span>
   * print argument-stack in every loop
<span class="org-level-2">** write-argument-stack</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph :tangle core.cn
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">print-argument-stack,loop</span>
     <span class="cicada-nymph-comment">&lt;&lt; address, counter -- &gt;&gt;</span>
     dup zero? <span class="cicada-nymph-syntax-key-word">if</span>
       drop2
       <span class="cicada-nymph-end">end</span>
     <span class="cicada-nymph-syntax-key-word">then</span>
     sub1 swap
       dup fetch .
     <span class="cicada-nymph-variable">*jo-size*</span> add
     swap
     <span class="cicada-nymph-end">&lt;&gt;</span> print-argument-stack,loop
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">print-argument-stack</span>
     <span class="cicada-nymph-comment">&lt;&lt; -- &gt;&gt;</span>
     snapshot-the-stack-pointer
     <span class="cicada-nymph-variable">*the-stack-pointer-snapshot*</span>
     <span class="cicada-nymph-variable">*the-stack*</span> greater-or-equal? <span class="cicada-nymph-syntax-key-word">if</span>
       <span class="cicada-nymph-variable">*the-stack*</span>   <span class="cicada-nymph-comment">&lt;&lt; address as return value &gt;&gt;</span>
       <span class="cicada-nymph-variable">*the-stack-pointer-snapshot*</span> <span class="cicada-nymph-variable">*the-stack*</span> sub
       <span class="cicada-nymph-variable">*jo-size*</span> div <span class="cicada-nymph-comment">&lt;&lt; counter as return value &gt;&gt;</span>
       print-argument-stack,loop
       <span class="cicada-nymph-end">end</span>
     <span class="cicada-nymph-syntax-key-word">then</span>
     <span class="cicada-nymph-string">"BELOW THE STACK "</span> write-string
     <span class="cicada-nymph-end">end</span>
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-2">** stack-REPL</span>
<span class="org-block-begin-line">   #+begin_src cicada-nymph :tangle core.cn
</span>   <span class="cicada-nymph-sentence-reader">:</span> <span class="cicada-nymph-word-to-define">stack-REPL</span>
     <span class="cicada-nymph-comment">&lt;&lt; unknown -- unknown &gt;&gt;</span>
     read-word-for-REPL
     execute-word
     snapshot-the-stack-pointer
     cr
     <span class="cicada-nymph-string">" * "</span> write-string
        <span class="cicada-nymph-variable">*the-stack-pointer-snapshot*</span>
        <span class="cicada-nymph-variable">*the-stack*</span> sub
        <span class="cicada-nymph-comment">&lt;&lt; ad hoc for the BUG of div &gt;&gt;</span>
        dup negative? <span class="cicada-nymph-syntax-key-word">if</span>
          negate
          <span class="cicada-nymph-variable">*jo-size*</span> div
          negate
        <span class="cicada-nymph-syntax-key-word">else</span>
          <span class="cicada-nymph-variable">*jo-size*</span> div
        <span class="cicada-nymph-syntax-key-word">then</span>
        write-integer
     <span class="cicada-nymph-string">" * "</span> write-string
     <span class="cicada-nymph-string">" -- "</span> write-string
       print-argument-stack
     <span class="cicada-nymph-string">"--"</span> write-string
     cr
     <span class="cicada-nymph-end">&lt;&gt;</span> stack-REPL
   <span class="cicada-nymph-sentence-reader">;</span> <span class="cicada-nymph-lexicographer">define-function</span>

   stack-REPL
<span class="org-block-end-line">   #+end_src
</span><span class="org-level-1">* -----------------------------------</span>
<span class="org-level-1">* more welcome</span>
<span class="org-block-begin-line">  #+begin_src cicada-nymph :tangle core.cn
</span>  hi
<span class="org-block-end-line">  #+end_src
</span><span class="org-level-1">* ===================================</span>
</pre>
  </body>
</html>
